{
  "openapi": "3.0.3",
  "info": {
    "title": "Lythaus API",
    "version": "v6",
    "description": "HTTP contract for the Lythaus API.",
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "servers": [
    {
      "url": "https://api.lythaus.co/api",
      "description": "Lythaus MVP API gateway"
    }
  ],
  "tags": [
    {
      "name": "Feed",
      "description": "Feed retrieval endpoints."
    },
    {
      "name": "Health",
      "description": "Liveness monitoring endpoints."
    },
    {
      "name": "Auth",
      "description": "Email and guest authentication endpoints."
    },
    {
      "name": "Posts",
      "description": "Post authoring endpoints."
    },
    {
      "name": "Media",
      "description": "Quarantined image upload and review handoff endpoints."
    },
    {
      "name": "Activity",
      "description": "User-visible activity and audit timeline entries."
    },
    {
      "name": "Social",
      "description": "Follows, blocks, mutes, bookmarks, and reactions."
    },
    {
      "name": "CustomFeeds",
      "description": "Tier-limited personal feed configurations."
    },
    {
      "name": "Appeals",
      "description": "Independent reviewer appeal governance."
    },
    {
      "name": "Notifications",
      "description": "Notification delivery and preference controls."
    },
    {
      "name": "Moderation",
      "description": "Moderation workflows."
    },
    {
      "name": "Admin",
      "description": "Lythaus admin moderation and safety operations."
    },
    {
      "name": "Privacy",
      "description": "User data portability and account deletion (GDPR/CCPA)."
    },
    {
      "name": "Privacy Admin",
      "description": "Data Subject Request and legal hold administration."
    },
    {
      "name": "Reputation",
      "description": "Reputation summaries and user-visible ledger entries."
    },
    {
      "name": "Reactions",
      "description": "Structured content reactions."
    },
    {
      "name": "Rewards",
      "description": "Tier-gated rewards and redemptions."
    }
  ],
  "paths": {
    "/feed": {
      "get": {
        "operationId": "feedList",
        "summary": "List the authenticated personal feed",
        "tags": [
          "Feed"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/cursor"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Personalised feed page.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonalFeedPage"
                },
                "examples": {
                  "authenticated": {
                    "summary": "Authenticated personal feed page",
                    "value": {
                      "items": [
                        {
                          "id": "018b27d4-5b3b-73e3-bf77-bf7bb9530f21",
                          "authorId": "018b27d4-5b3b-73e3-bf77-bf7bb9530f22",
                          "body": "A disclosed human-authored post.",
                          "declaredCreationMode": "human",
                          "visibility": "public",
                          "moderationState": "allowed",
                          "publicLabel": "Human-authored",
                          "reactionCounts": {
                            "like": 1
                          },
                          "viewerReaction": "like",
                          "createdAt": "2026-08-10T09:00:00Z"
                        }
                      ],
                      "nextCursor": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/flags": {
      "post": {
        "operationId": "flagsCreate",
        "summary": "Submit a moderation flag",
        "description": "Records a neutral report for moderation review. Flags are evidence, not a public finding.",
        "tags": [
          "Moderation"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/idempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FlagCreateRequest"
              },
              "examples": {
                "spam": {
                  "value": {
                    "contentType": "post",
                    "contentId": "018f2c4e-8c2b-7b4e-8d2a-2e2f0b7e4b1a",
                    "reasonCode": "spam"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Flag accepted for review.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlagCreateResponse"
                },
                "examples": {
                  "accepted": {
                    "value": {
                      "flagId": "018f2c4e-8c2b-7b4e-8d2a-2e2f0b7e4b1c"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "409": {
            "$ref": "#/components/responses/IdempotencyConflict"
          },
          "429": {
            "description": "flag_daily_limit_reached: no more than 20 moderation flags per authenticated user per day.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SafetyLimitError"
                }
              }
            }
          }
        }
      }
    },
    "/content/flags": {
      "post": {
        "operationId": "contentFlagsCreate",
        "summary": "Submit a moderation flag",
        "description": "Equivalent flag submission route for content-focused clients.",
        "tags": [
          "Moderation"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/idempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FlagCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Flag accepted for review.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlagCreateResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "409": {
            "$ref": "#/components/responses/IdempotencyConflict"
          },
          "429": {
            "description": "flag_daily_limit_reached: no more than 20 moderation flags per authenticated user per day.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SafetyLimitError"
                }
              }
            }
          }
        }
      }
    },
    "/media/uploads": {
      "post": {
        "operationId": "mediaUploadsCreate",
        "summary": "Create a quarantined media upload session",
        "description": "Creates a signed private upload session; the uploaded object remains quarantined until finalisation and review.",
        "tags": [
          "Media"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/idempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MediaUploadSessionCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Quarantined upload session created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MediaUploadSessionCreated"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Media uploads are disabled for this deployment.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "409": {
            "$ref": "#/components/responses/IdempotencyConflict"
          },
          "429": {
            "description": "media_daily_limit_reached: no more than 20 upload sessions per authenticated user per day.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SafetyLimitError"
                }
              }
            }
          }
        }
      }
    },
    "/media/uploads/{uploadSessionId}/finalise": {
      "post": {
        "operationId": "mediaUploadsFinalise",
        "summary": "Finalise a quarantined media upload",
        "description": "Verifies the uploaded object size and SHA-256 checksum, then queues private media review.",
        "tags": [
          "Media"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "uploadSessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/idempotencyKey"
          }
        ],
        "responses": {
          "200": {
            "description": "Upload passed integrity checks and is queued for review.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MediaUploadFinaliseResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Media uploads are disabled for this deployment.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "409": {
            "$ref": "#/components/responses/IdempotencyConflict"
          }
        }
      }
    },
    "/health": {
      "get": {
        "operationId": "getHealth",
        "summary": "Service health probe",
        "description": "Liveness/readiness check. No auth.",
        "tags": [
          "Health"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Health status payload",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "status": {
                      "type": "string"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "service": {
                      "type": "string"
                    },
                    "version": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit enforced",
            "headers": {
              "Retry-After": {
                "description": "Seconds until the client may retry",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-RateLimit-Limit": {
                "description": "Maximum requests allowed in the enforced window",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining requests before hitting the limit",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix epoch seconds when the window resets",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            }
          },
          "502": {
            "description": "Upstream dependency returned an unexpected response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadGatewayError"
                }
              }
            }
          },
          "503": {
            "description": "Service temporarily unavailable (dependency outage or maintenance)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceUnavailableError"
                }
              }
            }
          }
        }
      }
    },
    "/posts": {
      "post": {
        "operationId": "posts_create",
        "summary": "Create a post with moderation and AI authenticity checks",
        "description": "Create a post for the authenticated user. An authorship disclosure is required. Human-authored text may publish after review. AI-assisted text may publish only when its normalised, trimmed body is at most 249 user-perceived Unicode characters and receives the categorical `AI-assisted` label. AI-generated public content is blocked and may exist only in an author-private feedback or appeal state where supported.\n",
        "tags": [
          "Posts"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/idempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePostRequest"
              },
              "examples": {
                "human": {
                  "summary": "Human-authored public post",
                  "value": {
                    "body": "Local reporting from the community meeting.",
                    "declaredCreationMode": "human",
                    "geoScope": "community",
                    "placeId": "018f2c4e-8c2b-7b4e-8d2a-2e2f0b7e4b1c"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created post.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Post"
                },
                "examples": {
                  "published": {
                    "summary": "Published human-authored post",
                    "value": {
                      "id": "018f2c4e-8c2b-7b4e-8d2a-2e2f0b7e4b1a",
                      "authorId": "018f2c4e-8c2b-7b4e-8d2a-2e2f0b7e4b1b",
                      "content": "Local reporting from the community meeting.",
                      "contentType": "text",
                      "visibility": "public",
                      "isNews": false,
                      "authorship": {
                        "authorshipLabel": "Human-authored",
                        "declaredAuthorship": "human",
                        "classificationSource": "user_disclosure",
                        "classificationState": "confirmed",
                        "reviewState": "not_required",
                        "appealState": "none",
                        "labelVersion": "authorship-v1.0.0"
                      },
                      "createdAt": "2026-08-10T09:00:00Z",
                      "updatedAt": "2026-08-10T09:00:00Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input or content blocked by moderation/AI policy.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Authenticated caller lacks permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "409": {
            "$ref": "#/components/responses/IdempotencyConflict"
          },
          "429": {
            "description": "Rate limit enforced.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            }
          }
        }
      }
    },
    "/admin/users/{userId}/tier": {
      "servers": [
        {
          "url": "https://admin-api.lythaus.co/api"
        }
      ],
      "post": {
        "operationId": "adminUsersTierUpdate",
        "summary": "Update subscription tier",
        "tags": [
          "Admin"
        ],
        "security": [
          {
            "cloudflareAccess": []
          }
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountTierUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Subscription tier updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountTierResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/.well-known/jwks.json": {
      "get": {
        "operationId": "authJwksGet",
        "summary": "Get the public JWT verification key set",
        "tags": [
          "Auth"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Public JSON Web Key Set cached for five minutes.",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "public, max-age=300"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "keys"
                  ],
                  "properties": {
                    "keys": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Opaque not-found response outside the canonical host boundary."
          }
        }
      }
    },
    "/auth/email": {
      "post": {
        "operationId": "authEmail",
        "summary": "Register, sign in, or resend email verification",
        "description": "Registers an email account, signs in a verified account, or resends a verification message. Registration requires a Turnstile token when the production bot-protection gate is enabled.\n",
        "tags": [
          "Auth"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailAuthRequest"
              },
              "examples": {
                "login": {
                  "summary": "Verified email sign-in",
                  "value": {
                    "mode": "login",
                    "email": "alice@example.com",
                    "password": "correct-horse-battery-staple"
                  }
                },
                "register": {
                  "summary": "Email registration",
                  "value": {
                    "mode": "register",
                    "email": "alice@example.com",
                    "password": "correct-horse-battery-staple",
                    "turnstileToken": "turnstile_verified_token"
                  }
                },
                "resendVerification": {
                  "summary": "Resend a verification message",
                  "value": {
                    "mode": "resend_verification",
                    "email": "alice@example.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authenticated token response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailSessionResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Email session created",
                    "value": {
                      "accessToken": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.example",
                      "refreshToken": "refresh_example_01K1LYTHAUS",
                      "tokenType": "Bearer",
                      "expiresIn": 900
                    }
                  }
                }
              }
            }
          },
          "202": {
            "description": "Registration or resend accepted; email verification is required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailVerificationRequiredResponse"
                },
                "examples": {
                  "registration": {
                    "value": {
                      "state": "verification_required",
                      "userId": "018f2c4e-8c2b-7b4e-8d2a-2e2f0b7e4b1a"
                    }
                  },
                  "resend": {
                    "value": {
                      "state": "verification_required"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials or unverified email",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "The email account already exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit enforced",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            }
          },
          "503": {
            "description": "Email authentication provider unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/email/verify": {
      "get": {
        "operationId": "authEmailVerifyGet",
        "summary": "Verify an email address with a query token",
        "description": "Consumes a single-use email-verification token and returns only a private verification state.",
        "tags": [
          "Auth"
        ],
        "security": [],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 32
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Email address verified.",
            "headers": {
              "Cache-Control": {
                "description": "Verification responses are private and never cacheable.",
                "schema": {
                  "type": "string",
                  "example": "private, no-store"
                }
              },
              "X-Correlation-ID": {
                "description": "Request correlation identifier.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailVerificationResponse"
                }
              }
            }
          },
          "400": {
            "description": "verification_token_invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "provider_unavailable when email sign-in is disabled.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "authEmailVerifyPost",
        "summary": "Verify an email address with a JSON token",
        "description": "Consumes a single-use email-verification token and returns only a private verification state.",
        "tags": [
          "Auth"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailVerificationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email address verified.",
            "headers": {
              "Cache-Control": {
                "description": "Verification responses are private and never cacheable.",
                "schema": {
                  "type": "string",
                  "example": "private, no-store"
                }
              },
              "X-Correlation-ID": {
                "description": "Request correlation identifier.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailVerificationResponse"
                }
              }
            }
          },
          "400": {
            "description": "verification_token_invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "provider_unavailable when email sign-in is disabled.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/privacy/requests": {
      "get": {
        "operationId": "privacyRequestStatus",
        "summary": "Get the latest privacy request status",
        "description": "Returns the authenticated user's latest matching asynchronous privacy request.",
        "tags": [
          "Privacy"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "requestType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "export",
                "delete",
                "rectify"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Latest matching request, or null when none exists",
            "headers": {
              "X-Correlation-ID": {
                "$ref": "#/components/headers/XCorrelationID"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivacyRequestStatusResponse"
                },
                "examples": {
                  "processing": {
                    "value": {
                      "request": {
                        "requestId": "018f2c4e-8c2b-7b4e-8d2a-2e2f0b7e4b1a",
                        "requestType": "export",
                        "state": "processing",
                        "acceptedAt": "2026-07-29T07:00:00Z",
                        "completedAt": null
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "privacyRequestCreate",
        "summary": "Submit an asynchronous privacy request",
        "description": "Records an export, account deletion, or rectification request and queues\nit for durable processing. Acceptance does not mean processing is complete.\n",
        "tags": [
          "Privacy"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/idempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrivacyRequestCreate"
              },
              "examples": {
                "export": {
                  "value": {
                    "requestType": "export"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Privacy request accepted for processing",
            "headers": {
              "X-Correlation-ID": {
                "$ref": "#/components/headers/XCorrelationID"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivacyRequestAccepted"
                },
                "examples": {
                  "accepted": {
                    "value": {
                      "requestId": "018f2c4e-8c2b-7b4e-8d2a-2e2f0b7e4b1a",
                      "requestType": "export",
                      "state": "received",
                      "acceptedAt": "2026-07-29T07:00:00Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid privacy request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "409": {
            "$ref": "#/components/responses/IdempotencyConflict"
          },
          "429": {
            "description": "privacy_request_active: an unfinished request of the same type already exists. export_cooldown_active: export requests are limited to one request per authenticated user in 30 days.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SafetyLimitError"
                }
              }
            }
          }
        }
      }
    },
    "/privacy/requests/{requestId}/export": {
      "get": {
        "operationId": "privacyRequestExportDownload",
        "summary": "Download my completed privacy export",
        "description": "Streams the authenticated subject's unexpired completed export as a private JSON\nattachment. The success payload is the export file itself, not an API envelope.\nAccess is recorded as the `privacy.export_accessed` activity event.\n",
        "tags": [
          "Privacy"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "requestId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Private JSON export attachment.",
            "headers": {
              "Cache-Control": {
                "description": "Private export responses are never cacheable by shared intermediaries.",
                "schema": {
                  "type": "string",
                  "example": "private, no-store"
                }
              },
              "Content-Disposition": {
                "description": "Attachment filename for the requested export.",
                "schema": {
                  "type": "string",
                  "example": "attachment; filename=\"lythaus-export-018f2c4e-8c2b-7b4e-8d2a-2e2f0b7e4b1a.json\""
                }
              },
              "ETag": {
                "description": "Object entity tag supplied by private export storage.",
                "schema": {
                  "type": "string"
                }
              },
              "X-Content-SHA256": {
                "description": "Hash recorded in the completed export manifest.",
                "schema": {
                  "type": "string"
                }
              },
              "X-Correlation-ID": {
                "description": "Request correlation identifier.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivacyExportDocument"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "export_not_found: the request is not this subject's completed, unexpired export.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "503": {
            "description": "export_unavailable: private export storage cannot currently serve the manifest object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/appeals": {
      "post": {
        "operationId": "appealsCreate",
        "summary": "Submit an appeal",
        "description": "The case determines standard or high risk; the service assigns independent trained reviewers.",
        "tags": [
          "Appeals"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/idempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppealCreateRequest"
              },
              "examples": {
                "standard": {
                  "summary": "Appeal a resolved post or comment case",
                  "value": {
                    "caseId": "018b27d4-6e1e-7bd3-bb5a-98f24bb968c2",
                    "statement": "I believe this decision should be reviewed because the context was misunderstood."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "An existing open appeal for this case and appellant was returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppealCreateResponse"
                },
                "examples": {
                  "created": {
                    "summary": "Appeal accepted for independent assignment",
                    "value": {
                      "appealId": "018b27d4-7f9b-7d9e-bf0e-9bf93c3fce43",
                      "state": "open",
                      "riskClass": "standard",
                      "policyVersion": "appeals-v1.0.0"
                    }
                  }
                }
              }
            }
          },
          "201": {
            "description": "Appeal submitted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppealCreateResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "409": {
            "$ref": "#/components/responses/IdempotencyConflict"
          },
          "429": {
            "$ref": "#/components/responses/SafetyLimited"
          }
        }
      }
    },
    "/appeals/{id}": {
      "get": {
        "operationId": "appealsGet",
        "summary": "Get an appeal visible to its appellant or assigned reviewer",
        "tags": [
          "Appeals"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Appeal with the current reviewer and outcome state.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppealDetailResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/appeals/{appealId}/vote": {
      "post": {
        "operationId": "appealsVote",
        "summary": "Submit one immutable reviewer vote",
        "description": "Only an independently assigned trained reviewer may vote. A vote is locked and cannot be changed.",
        "tags": [
          "Appeals"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "appealId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/requiredIdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GovernanceAppealVoteRequest"
              },
              "examples": {
                "overturn": {
                  "summary": "Vote to overturn the appealed decision",
                  "value": {
                    "decision": "overturn"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Previously recorded idempotent vote.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GovernanceAppealVoteResponse"
                },
                "examples": {
                  "recorded": {
                    "summary": "Immutable reviewer vote recorded",
                    "value": {
                      "voteId": "018b27d4-8a9c-7d9e-bf0e-9bf93c3fce43",
                      "appealId": "018b27d4-7f9b-7d9e-bf0e-9bf93c3fce43",
                      "decision": "overturn",
                      "locked": true
                    }
                  }
                }
              }
            }
          },
          "201": {
            "description": "Vote recorded and locked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GovernanceAppealVoteResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "409": {
            "$ref": "#/components/responses/IdempotencyConflict"
          },
          "429": {
            "$ref": "#/components/responses/SafetyLimited"
          }
        }
      }
    },
    "/appeals/{appealId}/recuse": {
      "post": {
        "operationId": "appealsRecuse",
        "summary": "Publicly record reviewer recusal",
        "description": "Only an independently assigned reviewer may recuse an open appeal. The assigned state becomes recused and the review cannot be restored by this endpoint.",
        "tags": [
          "Appeals"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "appealId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/requiredIdempotencyKey"
          }
        ],
        "responses": {
          "200": {
            "description": "Reviewer recusal recorded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppealRecusalResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "409": {
            "$ref": "#/components/responses/IdempotencyConflict"
          },
          "429": {
            "$ref": "#/components/responses/SafetyLimited"
          }
        }
      }
    },
    "/appeals/reviewer/assignments": {
      "get": {
        "operationId": "appealReviewerAssignmentsList",
        "summary": "List my appeal-review assignments",
        "tags": [
          "Appeals"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Assigned reviews and any immutable recorded vote.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppealReviewerAssignments"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/auth/refresh": {
      "post": {
        "operationId": "authRefresh",
        "summary": "Rotate a refresh token",
        "tags": [
          "Auth"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefreshSessionRequest"
              },
              "examples": {
                "rotate": {
                  "value": {
                    "refreshToken": "refresh_example_01K1LYTHAUS"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Refresh token rotated and replacement session issued.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailSessionResponse"
                },
                "examples": {
                  "rotated": {
                    "value": {
                      "accessToken": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.rotated",
                      "refreshToken": "refresh_example_01K1LYTHAUS_rotated",
                      "tokenType": "Bearer",
                      "expiresIn": 900
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid refresh-token request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Refresh token invalid, expired, reused, or tied to an inactive account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/logout": {
      "post": {
        "operationId": "authLogout",
        "summary": "Revoke all active sessions for the authenticated user",
        "tags": [
          "Auth"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "All active refresh families and sessions were revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "loggedOut"
                  ],
                  "properties": {
                    "loggedOut": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          }
        }
      }
    },
    "/auth/password/reset/request": {
      "post": {
        "operationId": "authPasswordResetRequest",
        "summary": "Request an opaque password reset message",
        "description": "Always returns the same neutral state so account existence is not disclosed.",
        "tags": [
          "Auth"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "email",
                  "turnstileToken"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "maxLength": 254
                  },
                  "turnstileToken": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 4096,
                    "writeOnly": true
                  }
                }
              },
              "examples": {
                "request": {
                  "value": {
                    "email": "member@example.com",
                    "turnstileToken": "turnstile-token"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "A reset message was issued if the account is eligible.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "state"
                  ],
                  "properties": {
                    "state": {
                      "type": "string",
                      "enum": [
                        "reset_if_eligible"
                      ]
                    }
                  }
                },
                "examples": {
                  "neutral": {
                    "value": {
                      "state": "reset_if_eligible"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or Turnstile verification.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Neutral authentication rate limit.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            }
          }
        }
      }
    },
    "/auth/password/reset/complete": {
      "post": {
        "operationId": "authPasswordResetComplete",
        "summary": "Complete password reset and revoke existing sessions",
        "tags": [
          "Auth"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "token",
                  "password"
                ],
                "properties": {
                  "token": {
                    "type": "string",
                    "minLength": 32,
                    "writeOnly": true
                  },
                  "password": {
                    "type": "string",
                    "minLength": 12,
                    "maxLength": 128,
                    "writeOnly": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Password reset completed and prior sessions revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "state"
                  ],
                  "properties": {
                    "state": {
                      "type": "string",
                      "enum": [
                        "password_reset_completed"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid or expired reset token or invalid password.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/auth/userinfo": {
      "get": {
        "operationId": "authUserInfo",
        "summary": "Get the authenticated user's current identity claims",
        "tags": [
          "Auth"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Private current-user identity data.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id",
                    "sub",
                    "email",
                    "role",
                    "subscription_tier",
                    "reputation_level",
                    "reputation_policy_version",
                    "created_at",
                    "last_login_at"
                  ],
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "sub": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "email": {
                      "type": "string",
                      "format": "email"
                    },
                    "role": {
                      "type": "string",
                      "enum": [
                        "user",
                        "moderator",
                        "admin"
                      ]
                    },
                    "subscription_tier": {
                      "type": "string",
                      "enum": [
                        "free",
                        "premium",
                        "black"
                      ]
                    },
                    "reputation_level": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 5
                    },
                    "reputation_policy_version": {
                      "type": "string"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "last_login_at": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                },
                "examples": {
                  "authenticated": {
                    "value": {
                      "id": "018f2c4e-8c2b-7b4e-8d2a-2e2f0b7e4b1b",
                      "sub": "018f2c4e-8c2b-7b4e-8d2a-2e2f0b7e4b1b",
                      "email": "member@example.com",
                      "role": "user",
                      "subscription_tier": "free",
                      "reputation_level": 0,
                      "reputation_policy_version": "reputation-v2.0.0",
                      "created_at": "2026-08-01T09:00:00Z",
                      "last_login_at": "2026-08-10T09:00:00Z"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          }
        }
      }
    },
    "/storage/usage": {
      "get": {
        "operationId": "storageUsageGet",
        "summary": "Get the authenticated user's private storage ledger",
        "tags": [
          "Privacy"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Private storage ledger totals.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "storage"
                  ],
                  "properties": {
                    "storage": {
                      "type": "object",
                      "required": [
                        "bytes_reserved",
                        "bytes_uploaded",
                        "bytes_approved",
                        "bytes_rejected",
                        "bytes_exports",
                        "object_count"
                      ],
                      "properties": {
                        "bytes_reserved": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "bytes_uploaded": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "bytes_approved": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "bytes_rejected": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "bytes_exports": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "object_count": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "last_reconciled_at": {
                          "type": "string",
                          "format": "date-time",
                          "nullable": true
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          }
        }
      }
    },
    "/users/me/region": {
      "put": {
        "operationId": "usersMeRegionUpdate",
        "summary": "Update private region and visibility preferences",
        "tags": [
          "Users",
          "Privacy"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/requiredIdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "countryCode": {
                    "type": "string",
                    "nullable": true,
                    "pattern": "^[A-Za-z0-9-]{2,32}$"
                  },
                  "regionCode": {
                    "type": "string",
                    "nullable": true,
                    "pattern": "^[A-Za-z0-9-]{2,32}$"
                  },
                  "municipalityCode": {
                    "type": "string",
                    "nullable": true,
                    "pattern": "^[A-Za-z0-9-]{2,32}$"
                  },
                  "visibilityLevel": {
                    "type": "string",
                    "enum": [
                      "private",
                      "region",
                      "country"
                    ],
                    "default": "private"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Region preferences updated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "updated"
                  ],
                  "properties": {
                    "updated": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid region code or visibility level.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "409": {
            "$ref": "#/components/responses/IdempotencyConflict"
          }
        }
      }
    },
    "/users/me/retention": {
      "put": {
        "operationId": "usersMeRetentionUpdate",
        "summary": "Update a private content-retention rule",
        "tags": [
          "Users",
          "Privacy"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/requiredIdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "contentType",
                  "retentionDays"
                ],
                "properties": {
                  "contentType": {
                    "type": "string",
                    "enum": [
                      "post",
                      "posts",
                      "media"
                    ]
                  },
                  "retentionDays": {
                    "type": "integer",
                    "minimum": 30,
                    "maximum": 3650
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Retention preference updated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "contentType",
                    "retentionDays"
                  ],
                  "properties": {
                    "contentType": {
                      "type": "string",
                      "enum": [
                        "post",
                        "media"
                      ]
                    },
                    "retentionDays": {
                      "type": "integer",
                      "minimum": 30,
                      "maximum": 3650
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid retention content type or period.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "409": {
            "$ref": "#/components/responses/IdempotencyConflict"
          }
        }
      }
    },
    "/custom-feeds": {
      "get": {
        "operationId": "customFeedsList",
        "summary": "List my custom feeds",
        "tags": [
          "CustomFeeds"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Custom feed definitions owned by the caller.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFeedList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "customFeedsCreate",
        "summary": "Create a custom feed",
        "description": "Tier limits are Free 1, Premium 2, and Black 3 custom feeds.",
        "tags": [
          "CustomFeeds"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/idempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomFeedCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Custom feed created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFeed"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/IdempotencyConflict"
          }
        }
      }
    },
    "/custom-feeds/{id}": {
      "get": {
        "operationId": "customFeedsGet",
        "summary": "Get an owned custom feed",
        "tags": [
          "CustomFeeds"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Custom feed definition.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFeed"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "operationId": "customFeedsReplace",
        "summary": "Replace an owned custom feed",
        "tags": [
          "CustomFeeds"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/idempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomFeedUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated custom feed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFeed"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "409": {
            "$ref": "#/components/responses/IdempotencyConflict"
          }
        }
      },
      "patch": {
        "operationId": "customFeedsUpdate",
        "summary": "Partially update an owned custom feed",
        "tags": [
          "CustomFeeds"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/idempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomFeedUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated custom feed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFeed"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "409": {
            "$ref": "#/components/responses/IdempotencyConflict"
          }
        }
      },
      "delete": {
        "operationId": "customFeedsDelete",
        "summary": "Delete an owned custom feed",
        "tags": [
          "CustomFeeds"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/idempotencyKey"
          }
        ],
        "responses": {
          "200": {
            "description": "Custom feed deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFeedDeleteResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/IdempotencyConflict"
          }
        }
      }
    },
    "/custom-feeds/{id}/items": {
      "get": {
        "operationId": "customFeedsItemsList",
        "summary": "List items from an owned custom feed",
        "tags": [
          "CustomFeeds"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/cursor"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Feed items filtered by the custom feed rules.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiscoveryFeedPage"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/feed/discover": {
      "get": {
        "operationId": "feedDiscover",
        "summary": "List the public discovery feed",
        "description": "Anonymous callers receive the public page. Authenticated callers additionally receive block and mute filtering.",
        "tags": [
          "Feed"
        ],
        "security": [
          {},
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/cursor"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Public discovery page containing only allowed, disclosed content.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiscoveryFeedPage"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/feed/news": {
      "get": {
        "operationId": "feedNews",
        "summary": "List the Black-tier News Board",
        "description": "This is an authenticated Black-only entitlement. Free and Premium callers receive a forbidden response; there is no preview contract.",
        "tags": [
          "Feed"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/cursor"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Editorial News Board page.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NewsBoardFeedPage"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/news-board": {
      "get": {
        "operationId": "newsBoardGetLegacy",
        "summary": "List the Black-tier News Board",
        "description": "Compatibility alias for `/feed/news`. This is an authenticated Black-only entitlement.",
        "deprecated": true,
        "tags": [
          "Feed"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/cursor"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Black-tier News Board page.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NewsBoardFeedPage"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/notifications": {
      "get": {
        "operationId": "notificationsList",
        "summary": "List my notifications",
        "tags": [
          "Notifications"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/cursor"
          },
          {
            "$ref": "#/components/parameters/limit100"
          }
        ],
        "responses": {
          "200": {
            "description": "Cursor page of active notifications, including moderation, appeal, and privacy outcomes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationPage"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/notifications/unread-count": {
      "get": {
        "operationId": "notificationsUnreadCount",
        "summary": "Get my unread notification count",
        "tags": [
          "Notifications"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Current unread count.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationUnreadCount"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/notifications/{id}/read": {
      "post": {
        "operationId": "notificationsRead",
        "summary": "Mark a notification read",
        "tags": [
          "Notifications"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/idempotencyKey"
          }
        ],
        "responses": {
          "200": {
            "description": "Notification read state recorded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationActionResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/IdempotencyConflict"
          }
        }
      }
    },
    "/notifications/{id}/dismiss": {
      "post": {
        "operationId": "notificationsDismiss",
        "summary": "Dismiss a notification",
        "tags": [
          "Notifications"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/idempotencyKey"
          }
        ],
        "responses": {
          "200": {
            "description": "Notification dismissal recorded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationActionResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/IdempotencyConflict"
          }
        }
      }
    },
    "/notifications/preferences": {
      "get": {
        "operationId": "notificationsPreferencesGet",
        "summary": "Get notification preferences",
        "tags": [
          "Notifications"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Delivery preferences.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationPreferences"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "put": {
        "operationId": "notificationsPreferencesReplace",
        "summary": "Replace notification preferences",
        "tags": [
          "Notifications"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/idempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NotificationPreferenceUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated delivery preferences.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationPreferences"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "409": {
            "$ref": "#/components/responses/IdempotencyConflict"
          }
        }
      },
      "patch": {
        "operationId": "notificationsPreferencesUpdate",
        "summary": "Partially update notification preferences",
        "tags": [
          "Notifications"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/idempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NotificationPreferenceUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated delivery preferences.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationPreferences"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "409": {
            "$ref": "#/components/responses/IdempotencyConflict"
          }
        }
      }
    },
    "/notifications/devices": {
      "get": {
        "operationId": "notificationsDevicesList",
        "summary": "List my push devices",
        "tags": [
          "Notifications"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Push-device registrations.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationDeviceList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "notificationsDevicesCreate",
        "summary": "Register or reactivate a push device",
        "tags": [
          "Notifications"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NotificationDeviceCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Device registration created or reactivated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationDeviceCreated"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/notifications/devices/{id}/revoke": {
      "post": {
        "operationId": "notificationsDevicesRevoke",
        "summary": "Revoke a push device",
        "tags": [
          "Notifications"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Device revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationDeviceRevoked"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/posts/{id}": {
      "get": {
        "operationId": "postsGet",
        "summary": "Get a post by ID",
        "tags": [
          "Posts"
        ],
        "security": [
          {},
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/idempotencyKey"
          }
        ],
        "responses": {
          "200": {
            "description": "Post view.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "post"
                  ],
                  "properties": {
                    "post": {
                      "$ref": "#/components/schemas/PersonalFeedItem"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "$ref": "#/components/responses/IdempotencyConflict"
          }
        }
      },
      "patch": {
        "operationId": "postsUpdate",
        "summary": "Update a post with moderation and AI authenticity checks",
        "description": "Update a post owned by the caller. A body change requires a fresh declaredCreationMode; a visibility-only change preserves the stored declaration. Every accepted update returns the post to review.\n",
        "tags": [
          "Posts"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePostRequest"
              },
              "examples": {
                "bodyRevision": {
                  "value": {
                    "body": "Corrected local reporting from the community meeting.",
                    "declaredCreationMode": "human"
                  }
                },
                "visibilityOnly": {
                  "value": {
                    "visibility": "followers"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated post.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostRevisionResponse"
                },
                "examples": {
                  "contentRevision": {
                    "value": {
                      "post": {
                        "id": "018f2c4e-8c2b-7b4e-8d2a-2e2f0b7e4b1a",
                        "body": "Corrected local reporting from the community meeting.",
                        "declaredCreationMode": "human",
                        "visibility": "public",
                        "moderationState": "under_review"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "postsReplace",
        "summary": "Replace editable post fields and return the post to review",
        "tags": [
          "Posts"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/requiredIdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePostRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated post returned to moderation review.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostRevisionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or deterministic declaration-policy rejection.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "409": {
            "$ref": "#/components/responses/IdempotencyConflict"
          }
        }
      },
      "delete": {
        "operationId": "postsDelete",
        "summary": "Soft-delete a post owned by the authenticated user",
        "tags": [
          "Posts"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/requiredIdempotencyKey"
          }
        ],
        "responses": {
          "200": {
            "description": "Idempotent soft-delete result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "postId",
                    "deleted"
                  ],
                  "properties": {
                    "postId": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "deleted": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "409": {
            "$ref": "#/components/responses/IdempotencyConflict"
          }
        }
      }
    },
    "/posts/{postId}/comments": {
      "get": {
        "operationId": "postsCommentsList",
        "summary": "List publicly visible comments",
        "description": "Only allowed comments are returned. Anonymous callers may read public posts; authenticated callers additionally receive relationship filtering.",
        "tags": [
          "Posts"
        ],
        "security": [
          {},
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "postId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/cursor"
          },
          {
            "$ref": "#/components/parameters/limit100"
          }
        ],
        "responses": {
          "200": {
            "description": "Publicly visible comments.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommentPage"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      },
      "post": {
        "operationId": "postsCommentsCreate",
        "summary": "Submit a comment or one-level reply",
[...]
