openapi: 3.0.3
info:
  title: Lythaus API
  version: v4
  description: HTTP contract for the Lythaus API.
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
  - url: https://api.lythaus.co/api
    description: Lythaus MVP API gateway
tags:
  - name: Feed
    description: Feed retrieval endpoints.
  - name: Health
    description: Liveness monitoring endpoints.
  - name: Auth
    description: Authentication and invite access endpoints.
  - name: Posts
    description: Post authoring endpoints.
  - name: Moderation
    description: Moderation workflows.
  - name: Admin
    description: Lythaus admin moderation and safety operations.
  - name: Privacy
    description: User data portability and account deletion (GDPR/CCPA).
  - name: Privacy Admin
    description: Data Subject Request and legal hold administration.
  - name: Reputation
    description: Reputation summaries and user-visible ledger entries.
  - name: Reactions
    description: Structured content reactions.
  - name: Rewards
    description: Tier-gated rewards and redemptions.
paths:
  /feed:
    get:
      operationId: getFeed
      summary: Retrieve personalized feed items
      description: Return a page of feed items.
      tags:
        - Feed
      security:
        - {}
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/cursorParam'
        - $ref: '#/components/parameters/limitParam'
      responses:
        '200':
          description: Feed items retrieved successfully
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/XCorrelationID'
            Cache-Control:
              description: Cache directive (private for authenticated, public for anonymous)
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedPageEnvelope'
              examples:
                authenticated:
                  summary: Authenticated feed page
                  value:
                    success: true
                    data:
                      items:
                        - id: 018b27d4-5b3b-73e3-bf77-bf7bb9530f21
                          text: Hello Lythaus!
                          authorId: usr_01HZPQ2B3C4D5E6F7G8H9JABCD
                          createdAt: '2026-04-30T10:00:00Z'
                      meta:
                        count: 1
                        nextCursor: eyJsYXN0SWQiOiIwMThiMjdkNC01YjNiLTczZTMtYmY3Ny1iZjdiYjk1MzBmMjEiLCJ0cyI6MTcxNDQ3ODQwMH0
                    timestamp: '2026-04-30T10:00:00Z'
        '400':
          description: Invalid query parameters
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/XCorrelationID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimpleError'
        '401':
          description: Missing or invalid authentication
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/XCorrelationID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '403':
          description: Authenticated caller lacks required permissions
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/XCorrelationID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '429':
          description: Rate limit enforced
          headers:
            Retry-After:
              $ref: '#/components/headers/RetryAfter'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/XRateLimitRemaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/XRateLimitReset'
            X-Correlation-ID:
              $ref: '#/components/headers/XCorrelationID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
  /health:
    get:
      operationId: getHealth
      summary: Service health probe
      description: Liveness/readiness check. No auth.
      tags:
        - Health
      security: []
      responses:
        '200':
          description: Health status payload
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  status:
                    type: string
                  timestamp:
                    type: string
                    format: date-time
                  service:
                    type: string
                  version:
                    type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limit enforced
          headers:
            Retry-After:
              description: Seconds until the client may retry
              schema:
                type: integer
                minimum: 0
            X-RateLimit-Limit:
              description: Maximum requests allowed in the enforced window
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: Remaining requests before hitting the limit
              schema:
                type: integer
            X-RateLimit-Reset:
              description: Unix epoch seconds when the window resets
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
        '502':
          description: Upstream dependency returned an unexpected response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadGatewayError'
        '503':
          description: Service temporarily unavailable (dependency outage or maintenance)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailableError'
  /auth/invite/validate:
    get:
      operationId: authInviteValidate
      summary: Validate an invite code
      description: Validates an invite code without revealing status details.
      tags:
        - Auth
      security: []
      parameters:
        - name: code
          in: query
          description: Invite code (format XXXX-XXXX)
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Invite validation response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InviteValidationResponse'
        '429':
          description: Rate limit enforced
          headers:
            Retry-After:
              description: Seconds until the client may retry
              schema:
                type: integer
                minimum: 0
            X-RateLimit-Limit:
              description: Maximum requests allowed in the enforced window
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: Remaining requests before hitting the limit
              schema:
                type: integer
            X-RateLimit-Reset:
              description: Unix epoch seconds when the window resets
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
        '500':
          description: Validation unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /post:
    post:
      operationId: createPost
      summary: Create a new post
      description: Create a new post.
      tags:
        - Posts
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - text
                - aiLabel
              properties:
                text:
                  type: string
                  description: Post body text
                  maxLength: 5000
                mediaUrl:
                  type: string
                  format: uri
                  nullable: true
                aiLabel:
                  type: string
                  enum: [human, assisted, generated]
                  description: Required authorship disclosure.
            examples:
              basicPost:
                summary: Basic text post
                value:
                  text: Launch checklist is locked and ready for review.
                  aiLabel: human
      responses:
        '201':
          description: Post created successfully
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/XCorrelationID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LegacyCreatePostResponse'
              examples:
                published:
                  summary: Published post
                  value:
                    status: success
                    post:
                      postId: 018b27d4-7f9b-7d9e-bf0e-9bf93c3fce43
                      text: Launch checklist is locked and ready for review.
                      mediaUrl: null
                      authorId: usr_01HZPQ2B3C4D5E6F7G8H9JABCD
                      createdAt: '2026-07-10T12:00:00Z'
                      updatedAt: '2026-07-10T12:00:00Z'
                      stats: { likes: 0, comments: 0, replies: 0 }
                      authorship:
                        authorshipLabel: Human-authored
                        declaredAuthorship: human
                        classificationSource: user_disclosure
                        classificationState: confirmed
                        reviewState: not_required
                        appealState: none
                        labelVersion: alpha-2026-07-v1
        '400':
          description: Invalid payload
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/XCorrelationID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Missing or invalid authentication
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/XCorrelationID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '403':
          description: Authenticated caller lacks required permissions or content blocked
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/XCorrelationID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModerationBlockedResponse'
        '429':
          description: Rate limit enforced
          headers:
            Retry-After:
              $ref: '#/components/headers/RetryAfter'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/XRateLimitRemaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/XRateLimitReset'
            X-Correlation-ID:
              $ref: '#/components/headers/XCorrelationID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
  /posts:
    post:
      operationId: posts_create
      summary: Create a post with moderation and AI authenticity checks
      description: >
        Create a post for the authenticated user. An authorship disclosure is
        required. Disclosed AI-assisted and AI-generated content may be published
        with categorical labels; conflicts or unavailable classification enter
        review. Prohibited content remains blocked regardless of authorship.
      tags:
        - Posts
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePostRequest'
      responses:
        '201':
          description: Created post.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Post'
        '400':
          description: Invalid input or content blocked by moderation/AI policy.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Missing or invalid authentication.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '403':
          description: Authenticated caller lacks permission.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '429':
          description: Rate limit enforced.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
  /moderation/flag:
    post:
      operationId: flagContent
      summary: Flag content for moderation review
      description: Flag content for review.
      tags:
        - Moderation
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - contentId
                - contentType
                - reason
              properties:
                contentId:
                  type: string
                  description: Identifier of the content being flagged
                  example: 018b27d4-6e1e-7bd3-bb5a-98f24bb968c2
                contentType:
                  type: string
                  enum: [post, comment, user, message]
                reason:
                  type: string
                  description: Moderation reason
                  enum:
                    - spam
                    - harassment
                    - hate_speech
                    - violence
                    - adult_content
                    - misinformation
                    - copyright
                    - privacy
                    - other
                additionalDetails:
                  type: string
                  description: Additional details supporting the flag
                  maxLength: 1000
                urgency:
                  type: string
                  enum: [low, medium, high]
                  default: medium
            examples:
              spamFlag:
                summary: Spam flag submission
                value:
                  contentId: 018b27d4-6e1e-7bd3-bb5a-98f24bb968c2
                  contentType: post
                  reason: spam
                  additionalDetails: Repeated duplicate promotion across multiple threads.
      responses:
        '202':
          description: Flag accepted for review
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/XCorrelationID'
          content:
            application/json:
              schema:
                type: object
                properties:
                  flagId:
                    type: string
                    format: uuid
                    example: 018b27d4-83fd-7fff-b5e1-8e779ebf8eab
                  status:
                    type: string
                    enum:
                      - queued
                      - received
              examples:
                queued:
                  summary: Flag queued for moderation review
                  value:
                    flagId: 018b27d4-83fd-7fff-b5e1-8e779ebf8eab
                    status: queued
        '400':
          description: Invalid payload
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/XCorrelationID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModerationFlagValidationError'
        '401':
          description: Missing or invalid authentication
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/XCorrelationID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '403':
          description: Authenticated caller lacks required permissions
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/XCorrelationID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '429':
          description: Rate limit enforced
          headers:
            Retry-After:
              $ref: '#/components/headers/RetryAfter'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/XRateLimitRemaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/XRateLimitReset'
            X-Correlation-ID:
              $ref: '#/components/headers/XCorrelationID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
  /moderation/flag-content:
    post:
      operationId: flagContentV1
      summary: Flag content for moderation review (v1 route)
      description: Alias of `/moderation/flag` — legacy v1 route used by the function runtime.
      tags:
        - Moderation
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - targetId
                - reason
              properties:
                targetId:
                  type: string
                  format: uuid
                  description: Identifier of the content being flagged
                reason:
                  type: string
                  description: Moderation reason
                  enum:
                    - spam
                    - harassment
                    - hate_speech
                    - violence
                    - adult_content
                    - misinformation
                    - copyright
                    - privacy
                    - other
                notes:
                  type: string
                  description: Additional details supporting the flag
                  maxLength: 1000
      responses:
        '202':
          description: Flag accepted for review
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/XCorrelationID'
          content:
            application/json:
              schema:
                type: object
                properties:
                  flagId:
                    type: string
                    format: uuid
                  status:
                    type: string
                    enum:
                      - queued
                      - received
        '400':
          description: Invalid payload
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/XCorrelationID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Missing or invalid authentication
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/XCorrelationID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '429':
          description: Rate limit enforced
          headers:
            Retry-After:
              $ref: '#/components/headers/RetryAfter'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/XRateLimitRemaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/XRateLimitReset'
            X-Correlation-ID:
              $ref: '#/components/headers/XCorrelationID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
  /_admin/flags:
    get:
      operationId: adminFlagsList
      summary: List flagged content queue
      description: Returns grouped flagged content for admin triage.
      tags:
        - Admin
      security:
        - bearerAuth: []
      parameters:
        - name: status
          in: query
          description: Filter by queue status
          required: false
          schema:
            type: string
            enum:
              - open
              - resolved
              - all
        - name: cursor
          in: query
          description: Cursor for pagination
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: Number of items to return (1-100)
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
      responses:
        '200':
          description: Flag queue response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminFlagQueueResponse'
        '401':
          description: Missing or invalid authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Authenticated caller lacks required permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /_admin/flags/{flagId}:
    get:
      operationId: adminFlagsGet
      summary: Get a flagged content detail
      description: Fetch details for a flagged content item.
      tags:
        - Admin
      security:
        - bearerAuth: []
      parameters:
        - name: flagId
          in: path
          description: Flag identifier
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Flag detail response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminFlagDetailResponse'
        '401':
          description: Missing or invalid authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Authenticated caller lacks required permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Flag not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /_admin/flags/{flagId}/resolve:
    post:
      operationId: adminFlagsResolve
      summary: Resolve a flagged content item
      description: Marks a flag as resolved with a reason code.
      tags:
        - Admin
      security:
        - bearerAuth: []
      parameters:
        - name: flagId
          in: path
          description: Flag identifier
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminFlagResolveRequest'
      responses:
        '200':
          description: Flag resolved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminResolveResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Authenticated caller lacks required permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Flag not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /_admin/content/{contentId}/block:
    post:
      operationId: adminContentBlock
      summary: Block content
      description: Sets content state to BLOCKED.
      tags:
        - Admin
      security:
        - bearerAuth: []
      parameters:
        - name: contentId
          in: path
          description: Content identifier
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminContentActionRequest'
      responses:
        '200':
          description: Content blocked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminContentActionResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Authenticated caller lacks required permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Content not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /_admin/content/{contentId}/publish:
    post:
      operationId: adminContentPublish
      summary: Publish content
      description: Sets content state to PUBLISHED.
      tags:
        - Admin
      security:
        - bearerAuth: []
      parameters:
        - name: contentId
          in: path
          description: Content identifier
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminContentActionRequest'
      responses:
        '200':
          description: Content published
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminContentActionResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Authenticated caller lacks required permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Content not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /_admin/appeals:
    get:
      operationId: adminAppealsList
      summary: List appeals queue
      description: Returns appeals awaiting admin review.
      tags:
        - Admin
      security:
        - bearerAuth: []
      parameters:
        - name: status
          in: query
          description: Filter by appeal status
          required: false
          schema:
            type: string
            enum:
              - pending
              - approved
              - rejected
              - overridden
              - all
        - name: cursor
          in: query
          description: Cursor for pagination
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: Number of items to return (1-100)
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
      responses:
        '200':
          description: Appeals queue response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminAppealQueueResponse'
        '401':
          description: Missing or invalid authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Authenticated caller lacks required permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /_admin/appeals/{appealId}:
    get:
      operationId: adminAppealsGet
      summary: Get appeal detail
      description: Fetch appeal detail with content and decision context.
      tags:
        - Admin
      security:
        - bearerAuth: []
      parameters:
        - name: appealId
          in: path
          description: Appeal identifier
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Appeal detail response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminAppealDetailResponse'
        '401':
          description: Missing or invalid authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Authenticated caller lacks required permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Appeal not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /_admin/appeals/{appealId}/approve:
    post:
      operationId: adminAppealsApprove
      summary: Approve an appeal
      description: Approves an appeal and restores content to PUBLISHED. Overrides existing outcomes.
      tags:
        - Admin
      security:
        - bearerAuth: []
      parameters:
        - name: appealId
          in: path
          description: Appeal identifier
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminAppealDecisionRequest'
      responses:
        '200':
          description: Appeal approved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminAppealDecisionResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Authenticated caller lacks required permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Appeal or content not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /_admin/appeals/{appealId}/reject:
    post:
      operationId: adminAppealsReject
      summary: Reject an appeal
      description: Rejects an appeal and keeps content BLOCKED. Overrides existing outcomes.
      tags:
        - Admin
      security:
        - bearerAuth: []
      parameters:
        - name: appealId
          in: path
          description: Appeal identifier
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminAppealDecisionRequest'
      responses:
        '200':
          description: Appeal rejected
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminAppealDecisionResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Authenticated caller lacks required permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /_admin/appeals/{appealId}/override:
    post:
      operationId: adminAppealsOverride
      summary: Override an appeal
      description: Moderator override for appeal outcomes. Idempotent per appeal.
      tags:
        - Admin
      security:
        - bearerAuth: []
      parameters:
        - name: appealId
          in: path
          description: Appeal identifier
          required: true
          schema:
            type: string
        - name: Idempotency-Key
          in: header
          description: Idempotency key for safe retries
          required: false
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminAppealOverrideRequest'
      responses:
        '200':
          description: Appeal overridden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminAppealOverrideResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Authenticated caller lacks required permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Appeal or content not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Override already processed or not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /_admin/audit:
    get:
      operationId: adminAuditList
      summary: List admin audit log entries
      description: Returns recent admin audit entries.
      tags:
        - Admin
      security:
        - bearerAuth: []
      parameters:
        - name: limit
          in: query
          description: Number of entries to return (1-200)
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 200
      responses:
        '200':
          description: Admin audit list response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminAuditListResponse'
        '401':
          description: Missing or invalid authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Authenticated caller lacks required permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Appeal or content not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /_admin/users/search:
    get:
      operationId: adminUsersSearch
      summary: Search users
      description: Search by user id, handle, display name, or email.
      tags:
        - Admin
      security:
        - bearerAuth: []
      parameters:
        - name: q
          in: query
          description: Search query
          required: true
          schema:
            type: string
        - name: limit
          in: query
          description: Number of items to return (1-100)
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
      responses:
        '200':
          description: User search response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminUserSearchResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Authenticated caller lacks required permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /_admin/users/{userId}/disable:
    post:
      operationId: adminUsersDisable
      summary: Disable a user
      description: Disables a user account immediately.
      tags:
        - Admin
      security:
        - bearerAuth: []
      parameters:
        - name: userId
          in: path
          description: User identifier
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminUserDisableRequest'
      responses:
        '200':
          description: User disabled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminUserActionResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Authenticated caller lacks required permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /_admin/users/{userId}/enable:
    post:
      operationId: adminUsersEnable
      summary: Enable a user
      description: Re-enables a previously disabled user.
      tags:
        - Admin
      security:
        - bearerAuth: []
      parameters:
        - name: userId
          in: path
          description: User identifier
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminUserEnableRequest'
      responses:
        '200':
          description: User enabled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminUserActionResponse'
        '401':
          description: Missing or invalid authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Authenticated caller lacks required permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /_admin/invites:
    get:
      operationId: adminInvitesList
      summary: List Alpha invites
      description: Returns opaque invite identifiers and usage metadata. Plaintext codes are never listed.
      tags:
        - Admin
      security:
        - bearerAuth: []
      parameters:
        - name: createdBy
          in: query
          description: Filter by creator id
          required: false
          schema:
            type: string
        - name: unused
          in: query
          description: Filter for unused invites only
          required: false
          schema:
            type: boolean
        - name: cursor
          in: query
          description: Cursor for pagination
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: Number of items to return (1-200)
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 200
      responses:
        '200':
          description: Invite list response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminInviteListResponse'
        '400':
          description: Invalid query parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Missing or invalid authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '403':
          description: Authenticated caller lacks required permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
    post:
      operationId: adminInvitesCreate
      summary: Create an invite code
      description: Creates a single admin invite code.
      tags:
        - Admin
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminInviteCreateRequest'
            examples:
              singleUse:
                summary: Single-use Alpha invite
                value:
                  email: alpha.user@example.com
                  expiresInDays: 14
                  maxUses: 1
                  label: technical-alpha
      responses:
        '201':
          description: Invite created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminCreatedInvite'
              examples:
                created:
                  summary: Invite created
                  value:
                    inviteCode: ABCD-1234
                    inviteId: 0197b8d8-39da-7a8b-9f9e-3d2dc9fbd741
                    email: alpha.user@example.com
                    createdAt: '2026-07-10T12:00:00Z'
                    expiresAt: '2026-07-24T12:00:00Z'
                    maxUses: 1
                    usageCount: 0
                    status: ACTIVE
                    label: technical-alpha
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Authenticated caller lacks required permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /_admin/invites/batch:
    post:
      operationId: adminInvitesBatch
      summary: Batch create invite codes
      description: Creates multiple invite codes in a single request.
      tags:
        - Admin
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminInviteBatchRequest'
      responses:
        '201':
          description: Invite batch created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminInviteBatchResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Authenticated caller lacks required permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /_admin/invites/{inviteId}:
    get:
      operationId: adminInvitesGet
      summary: Get an Alpha invite
      description: Fetch a single invite by opaque administrative identifier.
      tags:
        - Admin
      security:
        - bearerAuth: []
      parameters:
        - name: inviteId
          in: path
          description: Opaque invite identifier
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Invite response
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/XCorrelationID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminInviteResponse'
              examples:
                inviteActive:
                  summary: Active invite
                  value:
                    inviteId: 0197b8d8-39da-7a8b-9f9e-3d2dc9fbd741
                    email: user@example.com
                    createdBy: admin-uid-123
                    createdAt: '2026-04-01T10:00:00Z'
                    expiresAt: '2026-05-01T10:00:00Z'
                    maxUses: 1
                    usageCount: 0
                    status: ACTIVE
                    label: beta-tester
        '401':
          description: Missing or invalid authentication
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/XCorrelationID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '403':
          description: Authenticated caller lacks required permissions
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/XCorrelationID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Invite not found
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/XCorrelationID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      operationId: adminInvitesDelete
      summary: Revoke an Alpha invite
      description: Revokes the invite without deleting its audit record.
      tags:
        - Admin
      security:
        - bearerAuth: []
      parameters:
        - name: inviteId
          in: path
          description: Opaque invite identifier
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Invite revoked
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/XCorrelationID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminInviteRevokeResponse'
        '401':
          description: Missing or invalid authentication
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/XCorrelationID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '403':
          description: Authenticated caller lacks required permissions
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/XCorrelationID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Invite not found
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/XCorrelationID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /_admin/invites/{inviteId}/revoke:
    post:
      operationId: adminInvitesRevoke
      summary: Revoke an invite code
      description: Revokes an invite code immediately.
      tags:
        - Admin
      security:
        - bearerAuth: []
      parameters:
        - name: inviteId
          in: path
          description: Opaque invite identifier
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminInviteRevokeRequest'
      responses:
        '200':
          description: Invite revoked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminInviteRevokeResponse'
        '401':
          description: Missing or invalid authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Authenticated caller lacks required permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Invite not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /_admin/dsr/export:
    post:
      operationId: enqueueDsrExport
      summary: Enqueue a Data Subject Request export
      description: Queues an export job for a user's data as part of GDPR/CCPA compliance. Returns immediately with job tracking info.
      tags:
        - Privacy Admin
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DsrRequestInput'
            examples:
              enqueueExport:
                summary: Queue an export request
                value:
                  userId: 018b27d4-5b3b-73e3-bf77-bf7bb9530f21
                  note: User requested a copy of their account data.
      responses:
        '202':
          description: Export queued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DsrRequestSummary'
              examples:
                queuedExport:
                  summary: Export request queued
                  value:
                    id: dsr_01HZPQ2B3C4D5E6F7G8H9JABCD
                    status: queued
                    type: export
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Authenticated caller lacks required permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Target user not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /_admin/dsr/delete:
    post:
      operationId: enqueueDsrDelete
      summary: Enqueue a Data Subject Request delete
      description: Queues a deletion job for a user's data as part of GDPR/CCPA right-to-erasure compliance. Returns immediately with job tracking info.
      tags:
        - Privacy Admin
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DsrRequestInput'
      responses:
        '202':
          description: Delete queued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DsrRequestSummary'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Authenticated caller lacks required permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Target user not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /admin/legal-hold/place:
    post:
      operationId: placeLegalHold
      summary: Place a legal hold
      description: Places a legal hold on a user's data, preventing deletion until the hold is cleared. Used for litigation or regulatory preservation.
      tags:
        - Privacy Admin
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LegalHoldInput'
      responses:
        '201':
          description: Hold placed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LegalHoldRecord'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Authenticated caller lacks required permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Target scope or resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /admin/legal-hold/clear:
    post:
      operationId: clearLegalHold
      summary: Clear an existing legal hold
      description: Removes a previously placed legal hold, allowing normal data lifecycle operations (including deletion) to resume.
      tags:
        - Privacy Admin
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LegalHoldClear'
      responses:
        '200':
          description: Hold cleared
        '404':
          description: Hold not found
  /admin/users/{userId}/tier:
    patch:
      operationId: adminSetUserTier
      summary: Set user subscription tier
      description: Update the subscription tier of a specific user. Requires active admin privileges.
      tags:
        - Admin
      security:
        - bearerAuth: []
      parameters:
        - name: userId
          in: path
          description: User identifier
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - tier
                - reason
              properties:
                tier:
                  type: string
                  enum: [free, premium, black]
                reason:
                  type: string
                  minLength: 5
                  maxLength: 500
                expiresAt:
                  type: string
                  format: date-time
                  description: Required for Premium and Black Alpha grants; no more than 90 days ahead.
                reviewAt:
                  type: string
                  format: date-time
                  description: Required for Premium and Black Alpha grants; on or before expiresAt.
      responses:
        '200':
          description: Tier updated
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/XCorrelationID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminUserActionResponse'
        '400':
          description: Invalid tier value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Authenticated caller lacks required permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limit enforced
          headers:
            Retry-After:
              $ref: '#/components/headers/RetryAfter'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/XRateLimitRemaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/XRateLimitReset'
            X-Correlation-ID:
              $ref: '#/components/headers/XCorrelationID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
  /auth/email:
    post:
      operationId: authEmailLogin
      summary: Sign in with a verified email identity
      description: Creates a Lythaus access and refresh session for a verified email account.
      tags:
        - Auth
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailLoginRequest'
            examples:
              login:
                summary: Verified email sign-in
                value:
                  mode: login
                  email: alice@example.com
                  password: correct-horse-battery-staple
      responses:
        '200':
          description: Authenticated token response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailSessionResponse'
              examples:
                success:
                  summary: Email session created
                  value:
                    success: true
                    data:
                      accessToken: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.example
                      refreshToken: refresh_example_01K1LYTHAUS
                      tokenType: Bearer
                      expiresIn: 900
                    timestamp: '2026-08-06T12:00:00Z'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Invalid credentials or unverified email
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Verified identity is not an invited Lythaus account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limit enforced
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
        '503':
          description: Email authentication provider unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /auth/userinfo:
    get:
      operationId: authUserInfo
      summary: Return the current email-authenticated user
      description: Returns the active Lythaus account associated with the bearer session.
      tags:
        - Auth
      security:
        - bearerAuth: []
      responses:
        '200':
          description: UserInfo claims
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/XCorrelationID'
            Cache-Control:
              description: Cache control for user info
              schema:
                type: string
                example: 'private, no-store'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserInfoResponse'
              examples:
                authenticated:
                  summary: Authenticated user claims
                  value:
                    success: true
                    data:
                      sub: usr_01HZPQ2B3C4D5E6F7G8H9JABCD
                      email: alice@example.com
                      displayName: Alice Example
                      handle: alice
                      tier: free
                      roles:
                        - user
                    timestamp: '2026-04-30T12:00:00Z'
        '401':
          description: Missing or invalid authentication
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/XCorrelationID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '429':
          description: Rate limit enforced
          headers:
            Retry-After:
              $ref: '#/components/headers/RetryAfter'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/XRateLimitRemaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/XRateLimitReset'
            X-Correlation-ID:
              $ref: '#/components/headers/XCorrelationID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
    post:
      operationId: authUserInfoPost
      summary: OIDC UserInfo endpoint (POST)
      description: POST variant of the UserInfo endpoint for clients that cannot use query strings.
      tags:
        - Auth
      security:
        - bearerAuth: []
      requestBody:
        required: false
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
      responses:
        '200':
          description: UserInfo claims
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/XCorrelationID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserInfoResponse'
        '401':
          description: Missing or invalid authentication
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/XCorrelationID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '429':
          description: Rate limit enforced
          headers:
            Retry-After:
              $ref: '#/components/headers/RetryAfter'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/XRateLimitRemaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/XRateLimitReset'
            X-Correlation-ID:
              $ref: '#/components/headers/XCorrelationID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
  /auth/redeem-invite:
    post:
      operationId: authRedeemInvite
      summary: Redeem an invite code to activate account
      description: |
        Allows an authenticated but inactive user to redeem a valid invite code.
        On success the user is activated and a fresh token pair is returned.
      tags:
        - Auth
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RedeemInviteRequest'
            examples:
              redeem:
                summary: Redeem invite
                value:
                  inviteCode: ABCD-1234
      responses:
        '200':
          description: Invite redeemed – account activated
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/XCorrelationID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedeemInviteResponse'
              examples:
                success:
                  summary: Successful redemption
                  value:
                    success: true
                    data:
                      access_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                      refresh_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                      token_type: Bearer
                      expires_in: 900
                      activated: true
                    timestamp: '2026-04-30T12:00:00Z'
        '400':
          description: Invalid or expired invite code
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/XCorrelationID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Missing or invalid authentication
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/XCorrelationID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '409':
          description: Account is already active
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/XCorrelationID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limit enforced
          headers:
            Retry-After:
              $ref: '#/components/headers/RetryAfter'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/XRateLimitRemaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/XRateLimitReset'
            X-Correlation-ID:
              $ref: '#/components/headers/XCorrelationID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
  /moderation/my-appeals:
    get:
      operationId: getMyAppeals
      summary: List the authenticated user's moderation appeals
      description: Returns all appeals filed by the calling user, ordered by creation date descending.
      tags:
        - Moderation
      security:
        - bearerAuth: []
      parameters:
        - name: status
          in: query
          description: Filter by appeal status
          required: false
          schema:
            type: string
            enum:
              - pending
              - approved
              - rejected
              - overridden
        - name: cursor
          in: query
          description: Pagination cursor
          required: false
          schema:
            type: string
      responses:
        '200':
          description: List of the user's appeals
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/XCorrelationID'
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        appealId:
                          type: string
                        caseId:
                          type: string
                        status:
                          type: string
                        createdAt:
                          type: string
                          format: date-time
                  nextCursor:
                    type: string
                    nullable: true
        '401':
          description: Missing or invalid authentication
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/XCorrelationID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '429':
          description: Rate limit enforced
          headers:
            Retry-After:
              $ref: '#/components/headers/RetryAfter'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/XRateLimitRemaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/XRateLimitReset'
            X-Correlation-ID:
              $ref: '#/components/headers/XCorrelationID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
  /moderation/submit-appeal:
    post:
      operationId: submitAppealV1
      summary: Submit a moderation appeal (v1 route)
      description: Alias of `/moderation/appeals` — legacy v1 route used by the function runtime.
      tags:
        - Moderation
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModerationAppealRequest'
      responses:
        '201':
          description: Appeal created
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/XCorrelationID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppealCreatedResponse'
              examples:
                created:
                  summary: Appeal created and queued
                  value:
                    appeal:
                      id: apl_01HZPQ2B3C4D5E6F7G8H9JABCD
                      caseId: case_01HZPQ2B3C4D5E6F7G8H9JABCD
                      status: pending
                      createdAt: '2026-04-30T12:00:00Z'
        '400':
          description: Invalid appeal payload or daily limit exceeded
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/XCorrelationID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Missing or invalid authentication
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/XCorrelationID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '429':
          description: Rate limit enforced
          headers:
            Retry-After:
              $ref: '#/components/headers/RetryAfter'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/XRateLimitRemaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/XRateLimitReset'
            X-Correlation-ID:
              $ref: '#/components/headers/XCorrelationID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
  /moderation/vote-appeal:
    post:
      operationId: voteOnAppealV1
      summary: Cast a community vote on an appeal (v1 route)
      description: Alias of `/moderation/appeals/{appealId}/vote` — accepts appealId in the request body.
      tags:
        - Moderation
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - appealId
                - vote
              properties:
                appealId:
                  type: string
                  description: Appeal identifier
                vote:
                  type: string
                  enum:
                    - uphold
                    - deny
      responses:
        '200':
          description: Vote recorded
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/XCorrelationID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppealVoteResponse'
              examples:
                recorded:
                  summary: Community vote recorded
                  value:
                    vote:
                      id: vtx_01HZPQ2B3C4D5E6F7G8H9JABCD
                      appealId: apl_01HZPQ2B3C4D5E6F7G8H9JABCD
                      vote: uphold
                      recordedAt: '2026-04-30T12:05:00Z'
        '400':
          description: Invalid vote value or duplicate vote
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/XCorrelationID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Missing or invalid authentication
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/XCorrelationID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '404':
          description: Appeal not found
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/XCorrelationID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limit enforced
          headers:
            Retry-After:
              $ref: '#/components/headers/RetryAfter'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/XRateLimitRemaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/XRateLimitReset'
            X-Correlation-ID:
              $ref: '#/components/headers/XCorrelationID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
  /moderation/appeals:
    post:
      operationId: submitModerationAppeal
      summary: Submit a moderation appeal
      description: |
        File an appeal against a moderation decision. Authenticated users with active
        accounts may appeal content removals. Daily appeal limits are tier-gated.
      tags:
        - Moderation
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModerationAppealRequest'
            examples:
              standard:
                summary: Standard appeal
                value:
                  caseId: case_01HZPQ2B3C4D5E6F7G8H9JABCD
                  statement: I believe this was flagged in error because...
                  evidenceUrls:
                    - 'https://example.com/evidence/screenshot.png'
      responses:
        '201':
          description: Appeal created
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/XCorrelationID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppealCreatedResponse'
              examples:
                created:
                  summary: Appeal created and queued
                  value:
                    appeal:
                      id: apl_01HZPQ2B3C4D5E6F7G8H9JABCD
                      caseId: case_01HZPQ2B3C4D5E6F7G8H9JABCD
                      status: pending
                      createdAt: '2026-04-30T12:00:00Z'
        '400':
          description: Invalid appeal payload or daily limit exceeded
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/XCorrelationID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Missing or invalid authentication
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/XCorrelationID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '403':
          description: Account disabled or does not meet eligibility
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/XCorrelationID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Moderation case not found
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/XCorrelationID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limit enforced
          headers:
            Retry-After:
              $ref: '#/components/headers/RetryAfter'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/XRateLimitRemaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/XRateLimitReset'
            X-Correlation-ID:
              $ref: '#/components/headers/XCorrelationID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
  /moderation/appeals/{appealId}/review:
    post:
      operationId: reviewAppealedContent
      summary: Moderator review decision on an appeal
      description: Submit a moderator review decision for an appealed content case. Requires moderator privileges.
      tags:
        - Moderation
      security:
        - bearerAuth: []
      parameters:
        - name: appealId
          in: path
          description: Appeal identifier
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - decision
              properties:
                decision:
                  type: string
                  enum: [uphold, overturn]
                rationale:
                  type: string
      responses:
        '200':
          description: Review decision recorded
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/XCorrelationID'
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid decision value
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/XCorrelationID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Missing or invalid authentication
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/XCorrelationID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '403':
          description: Authenticated caller lacks required permissions
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/XCorrelationID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Appeal not found
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/XCorrelationID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limit enforced
          headers:
            Retry-After:
              $ref: '#/components/headers/RetryAfter'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/XRateLimitRemaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/XRateLimitReset'
            X-Correlation-ID:
              $ref: '#/components/headers/XCorrelationID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
  /moderation/appeals/{appealId}/vote:
    post:
      operationId: voteOnModerationAppeal
      summary: Cast a community vote on an appeal
      description: |
        Authenticated community members may cast a weighted vote (`uphold` or `deny`) on
        an open appeal. Duplicate votes are rejected. Vote eligibility and quorum rules
        are enforced server-side.
      tags:
        - Moderation
      security:
        - bearerAuth: []
      parameters:
        - name: appealId
          in: path
          description: Appeal identifier
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppealVoteRequest'
            examples:
              uphold:
                summary: Vote to uphold (keep content removed)
                value:
                  vote: uphold
              deny:
                summary: Vote to deny (restore content)
                value:
                  vote: deny
      responses:
        '200':
          description: Vote recorded
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/XCorrelationID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppealVoteResponse'
              examples:
                recorded:
                  summary: Community vote recorded
                  value:
                    vote:
                      id: vtx_01HZPQ2B3C4D5E6F7G8H9JABCD
                      appealId: apl_01HZPQ2B3C4D5E6F7G8H9JABCD
                      vote: uphold
                      recordedAt: '2026-04-30T12:05:00Z'
        '400':
          description: Invalid vote value or duplicate vote
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/XCorrelationID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Missing or invalid authentication
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/XCorrelationID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '404':
          description: Appeal not found
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/XCorrelationID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limit enforced
          headers:
            Retry-After:
              $ref: '#/components/headers/RetryAfter'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/XRateLimitRemaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/XRateLimitReset'
            X-Correlation-ID:
              $ref: '#/components/headers/XCorrelationID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
  /privacy/requests:
    get:
      operationId: privacyRequestStatus
      summary: Get the latest privacy request status
      description: Returns the authenticated user's latest matching asynchronous privacy request.
      tags:
        - Privacy
      security:
        - bearerAuth: []
      parameters:
        - name: requestType
          in: query
          required: false
          schema:
            type: string
            enum: [export, delete, rectify]
      responses:
        '200':
          description: Latest matching request, or null when none exists
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/XCorrelationID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivacyRequestStatusResponse'
              examples:
                processing:
                  value:
                    request:
                      requestId: 018f2c4e-8c2b-7b4e-8d2a-2e2f0b7e4b1a
                      requestType: export
                      state: processing
                      acceptedAt: '2026-07-29T07:00:00Z'
                      completedAt: null
        '401':
          description: Missing or invalid authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
    post:
      operationId: privacyRequestCreate
      summary: Submit an asynchronous privacy request
      description: |
        Records an export, account deletion, or rectification request and queues
        it for durable processing. Acceptance does not mean processing is complete.
      tags:
        - Privacy
      security:
        - bearerAuth: []
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          schema:
            type: string
            minLength: 8
            maxLength: 128
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivacyRequestCreate'
      responses:
        '202':
          description: Privacy request accepted for processing
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/XCorrelationID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivacyRequestAccepted'
              examples:
                accepted:
                  value:
                    requestId: 018f2c4e-8c2b-7b4e-8d2a-2e2f0b7e4b1a
                    requestType: export
                    state: received
                    acceptedAt: '2026-07-29T07:00:00Z'
        '400':
          description: Invalid privacy request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Missing or invalid authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '429':
          description: Privacy request rate limit enforced
          headers:
            Retry-After:
              $ref: '#/components/headers/RetryAfter'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
  /_admin/budget:
    get:
      operationId: adminBudgetGet
      summary: Get budget configuration
      tags:
        - Admin
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    put:
      operationId: adminBudgetUpdate
      summary: Update budget configuration
      tags:
        - Admin
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /_admin/config:
    get:
      operationId: adminConfigGet
      summary: Get admin runtime configuration
      tags:
        - Admin
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    put:
      operationId: adminConfigUpdate
      summary: Update admin runtime configuration
      tags:
        - Admin
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /_admin/dsr:
    get:
      operationId: adminDsrList
      summary: List data subject requests
      tags:
        - Admin
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /_admin/dsr/{id}:
    get:
      operationId: adminDsrGet
      summary: Get data subject request detail
      tags:
        - Admin
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /_admin/dsr/{id}/cancel:
    post:
      operationId: adminDsrCancel
      summary: Cancel a data subject request
      tags:
        - Admin
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /_admin/dsr/{id}/download:
    get:
      operationId: adminDsrDownload
      summary: Download data subject request export
      tags:
        - Admin
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /_admin/dsr/{id}/release:
    post:
      operationId: adminDsrRelease
      summary: Release a data subject request
      tags:
        - Admin
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
[...]
