openapi: 3.0.3
info:
  title: Lythaus API
  version: v7
  description: >
    HTTP contract for the Lythaus API. The active runtime is Cloudflare Workers
    backed by PlanetScale PostgreSQL through Hyperdrive. Initial authentication
    is Guest plus Email only. Production releases are coordinated from one
    reviewed main SHA; the release manifest and provider evidence remain
    outside this HTTP contract.
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
x-lythaus-release:
  workflow: .github/workflows/production-release.yml
  manifest: scripts/ci/build-release-manifest.mjs
  migrationBaseline: 0013_marketing_waitlist.sql
  authenticationModes: [guest, email]
servers:
  - url: https://api.lythaus.co/api
    description: Lythaus MVP API gateway
tags:
  - name: Feed
    description: Feed retrieval endpoints.
  - name: Health
    description: Liveness monitoring endpoints.
  - name: Auth
    description: Email and guest authentication endpoints.
  - name: Posts
    description: Post authoring endpoints.
  - name: Media
    description: Quarantined image upload and review handoff endpoints.
  - name: Activity
    description: User-visible activity and audit timeline entries.
  - name: Social
    description: Follows, blocks, mutes, bookmarks, and reactions.
  - name: CustomFeeds
    description: Tier-limited personal feed configurations.
  - name: Appeals
    description: Independent reviewer appeal governance.
  - name: Notifications
    description: Notification delivery and preference controls.
  - name: Moderation
    description: Moderation workflows.
  - name: Admin
    description: Lythaus admin moderation and safety operations.
  - name: Privacy
    description: User data portability and account deletion (GDPR/CCPA).
  - name: Privacy Admin
    description: Data Subject Request and legal hold administration.
  - name: Reputation
    description: Reputation summaries and user-visible ledger entries.
  - name: Reactions
    description: Structured content reactions.
  - name: Rewards
    description: Tier-gated rewards and redemptions.
  - name: Waitlist
    description: Private beta waitlist registration.
paths:
  /waitlist:
    post:
      operationId: joinWaitlist
      summary: Join the Lythaus private beta waitlist
      description: Returns the same neutral success response for new and duplicate submissions.
      tags: [Waitlist]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WaitlistSubmission'
      responses:
        '200':
          description: The submission was processed without disclosing prior membership.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WaitlistSuccess'
        '400':
          description: Invalid email, JSON, consent version, or Turnstile verification.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WaitlistError'
        '413':
          description: Request body exceeded the waitlist limit.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WaitlistError'
        '415':
          description: Content-Type must be application/json.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WaitlistError'
        '429':
          description: Submission rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WaitlistError'
        '503':
          description: Waitlist or verification service temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WaitlistError'
  /feed:
    $ref: './product-integrity.yaml#/paths/~1feed'
  /flags:
    $ref: './product-integrity.yaml#/paths/~1flags'
  /content/flags:
    $ref: './product-integrity.yaml#/paths/~1content~1flags'
  /media/uploads:
    $ref: './product-integrity.yaml#/paths/~1media~1uploads'
  /media/uploads/{uploadSessionId}/finalise:
    $ref: './product-integrity.yaml#/paths/~1media~1uploads~1{uploadSessionId}~1finalise'
  /health:
    get:
      operationId: getHealth
      summary: Service health probe
      description: Liveness/readiness check. No auth.
      tags:
        - Health
      security: []
      responses:
        '200':
          description: Health status payload
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  status:
                    type: string
                  timestamp:
                    type: string
                    format: date-time
                  service:
                    type: string
                  version:
                    type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limit enforced
          headers:
            Retry-After:
              description: Seconds until the client may retry
              schema:
                type: integer
                minimum: 0
            X-RateLimit-Limit:
              description: Maximum requests allowed in the enforced window
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: Remaining requests before hitting the limit
              schema:
                type: integer
            X-RateLimit-Reset:
              description: Unix epoch seconds when the window resets
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
        '502':
          description: Upstream dependency returned an unexpected response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadGatewayError'
        '503':
          description: Service temporarily unavailable (dependency outage or maintenance)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailableError'
  /posts:
    post:
      operationId: posts_create
      summary: Create a post with moderation and AI authenticity checks
      description: >
        Create a post for the authenticated user. An authorship disclosure is
        required. Human-authored text may publish after review. AI-assisted text
        may publish only when its normalised, trimmed body is at most 249
        user-perceived Unicode characters and receives the categorical
        `AI-assisted` label. AI-generated public content is blocked and may exist
        only in an author-private feedback or appeal state where supported.
      tags:
        - Posts
      security:
        - bearerAuth: []
      parameters:
        - $ref: './product-integrity.yaml#/components/parameters/idempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePostRequest'
            examples:
              human:
                summary: Human-authored public post
                value:
                  body: Local reporting from the community meeting.
                  declaredCreationMode: human
                  geoScope: community
                  placeId: 018f2c4e-8c2b-7b4e-8d2a-2e2f0b7e4b1c
      responses:
        '409':
          $ref: './product-integrity.yaml#/components/responses/IdempotencyConflict'
        '201':
          description: Created post.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Post'
              examples:
                published:
                  summary: Published human-authored post
                  value:
                    id: 018f2c4e-8c2b-7b4e-8d2a-2e2f0b7e4b1a
                    authorId: 018f2c4e-8c2b-7b4e-8d2a-2e2f0b7e4b1b
                    content: Local reporting from the community meeting.
                    contentType: text
                    visibility: public
                    isNews: false
                    authorship:
                      authorshipLabel: Human-authored
                      declaredAuthorship: human
                      classificationSource: user_disclosure
                      classificationState: confirmed
                      reviewState: not_required
                      appealState: none
                      labelVersion: authorship-v1.0.0
                    createdAt: '2026-08-10T09:00:00Z'
                    updatedAt: '2026-08-10T09:00:00Z'
        '400':
          description: Invalid input or content blocked by moderation/AI policy.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Missing or invalid authentication.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '403':
          description: Authenticated caller lacks permission.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '429':
          description: Rate limit enforced.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
  /admin/users/{userId}/tier:
    $ref: './product-integrity.yaml#/paths/~1admin~1users~1{userId}~1tier'
  /.well-known/jwks.json:
    get:
      operationId: authJwksGet
      summary: Get the public JWT verification key set
      tags: [Auth]
      security: []
      responses:
        '200':
          description: Public JSON Web Key Set cached for five minutes.
          headers:
            Cache-Control:
              schema: { type: string, example: 'public, max-age=300' }
          content:
            application/json:
              schema:
                type: object
                required: [keys]
                properties:
                  keys:
                    type: array
                    items: { type: object, additionalProperties: true }
        '404':
          description: Opaque not-found response outside the canonical host boundary.
  /auth/email:
    post:
      operationId: authEmail
      summary: Register, sign in, or resend email verification
      description: >
        Registers an email account, signs in a verified account, or resends a
        verification message. Registration requires a Turnstile token when the
        production bot-protection gate is enabled.
      tags:
        - Auth
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailAuthRequest'
            examples:
              login:
                summary: Verified email sign-in
                value:
                  mode: login
                  email: alice@example.com
                  password: correct-horse-battery-staple
              register:
                summary: Email registration
                value:
                  mode: register
                  email: alice@example.com
                  password: correct-horse-battery-staple
                  turnstileToken: turnstile_verified_token
              resendVerification:
                summary: Resend a verification message
                value:
                  mode: resend_verification
                  email: alice@example.com
      responses:
        '200':
          description: Authenticated token response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailSessionResponse'
              examples:
                success:
                  summary: Email session created
                  value:
                    accessToken: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.example
                    refreshToken: refresh_example_01K1LYTHAUS
                    tokenType: Bearer
                    expiresIn: 900
        '202':
          description: Registration or resend accepted; email verification is required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailVerificationRequiredResponse'
              examples:
                registration:
                  value:
                    state: verification_required
                    userId: 018f2c4e-8c2b-7b4e-8d2a-2e2f0b7e4b1a
                resend:
                  value:
                    state: verification_required
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Invalid credentials or unverified email
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: The email account already exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limit enforced
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
        '503':
          description: Email authentication provider unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /auth/email/verify:
    $ref: './product-integrity.yaml#/paths/~1auth~1email~1verify'
  /privacy/requests:
    get:
      operationId: privacyRequestStatus
      summary: Get the latest privacy request status
      description: Returns the authenticated user's latest matching asynchronous privacy request.
      tags:
        - Privacy
      security:
        - bearerAuth: []
      parameters:
        - name: requestType
          in: query
          required: false
          schema:
            type: string
            enum: [export, delete, rectify]
      responses:
        '200':
          description: Latest matching request, or null when none exists
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/XCorrelationID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivacyRequestStatusResponse'
              examples:
                processing:
                  value:
                    request:
                      requestId: 018f2c4e-8c2b-7b4e-8d2a-2e2f0b7e4b1a
                      requestType: export
                      state: processing
                      acceptedAt: '2026-07-29T07:00:00Z'
                      completedAt: null
        '401':
          description: Missing or invalid authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
    post:
      operationId: privacyRequestCreate
      summary: Submit an asynchronous privacy request
      description: |
        Records an export, account deletion, or rectification request and queues
        it for durable processing. Acceptance does not mean processing is complete.
      tags:
        - Privacy
      security:
        - bearerAuth: []
      parameters:
        - $ref: './product-integrity.yaml#/components/parameters/idempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivacyRequestCreate'
            examples:
              export:
                value:
                  requestType: export
      responses:
        '202':
          description: Privacy request accepted for processing
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/XCorrelationID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivacyRequestAccepted'
              examples:
                accepted:
                  value:
                    requestId: 018f2c4e-8c2b-7b4e-8d2a-2e2f0b7e4b1a
                    requestType: export
                    state: received
                    acceptedAt: '2026-07-29T07:00:00Z'
        '400':
          description: Invalid privacy request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Missing or invalid authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '409':
          $ref: './product-integrity.yaml#/components/responses/IdempotencyConflict'
        '429':
          description: 'privacy_request_active: an unfinished request of the same type already exists. export_cooldown_active: export requests are limited to one request per authenticated user in 30 days.'
          content:
            application/json:
              schema:
                $ref: './product-integrity.yaml#/components/schemas/SafetyLimitError'
  /privacy/requests/{requestId}/export:
    $ref: './product-integrity.yaml#/paths/~1privacy~1requests~1{requestId}~1export'
  /appeals:
    $ref: './product-integrity.yaml#/paths/~1appeals'
  /appeals/{id}:
    $ref: './product-integrity.yaml#/paths/~1appeals~1{id}'
  /appeals/{appealId}/vote:
    $ref: './product-integrity.yaml#/paths/~1appeals~1{appealId}~1vote'
  /appeals/{appealId}/recuse:
    $ref: './product-integrity.yaml#/paths/~1appeals~1{appealId}~1recuse'
  /appeals/reviewer/assignments:
    $ref: './product-integrity.yaml#/paths/~1appeals~1reviewer~1assignments'
  /auth/refresh:
    post:
      operationId: authRefresh
      summary: Rotate a refresh token
      tags:
        - Auth
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshSessionRequest'
            examples:
              rotate:
                value:
                  refreshToken: refresh_example_01K1LYTHAUS
      responses:
        '200':
          description: Refresh token rotated and replacement session issued.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailSessionResponse'
              examples:
                rotated:
                  value:
                    accessToken: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.rotated
                    refreshToken: refresh_example_01K1LYTHAUS_rotated
                    tokenType: Bearer
                    expiresIn: 900
        '400':
          description: Missing or invalid refresh-token request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Refresh token invalid, expired, reused, or tied to an inactive account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /auth/logout:
    post:
      operationId: authLogout
      summary: Revoke all active sessions for the authenticated user
      tags: [Auth]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: All active refresh families and sessions were revoked.
          content:
            application/json:
              schema:
                type: object
                required: [loggedOut]
                properties:
                  loggedOut: { type: boolean, enum: [true] }
        '401':
          description: Missing or invalid authentication.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/UnauthorizedError' }
  /auth/password/reset/request:
    post:
      operationId: authPasswordResetRequest
      summary: Request an opaque password reset message
      description: Always returns the same neutral state so account existence is not disclosed.
      tags: [Auth]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [email, turnstileToken]
              properties:
                email: { type: string, format: email, maxLength: 254 }
                turnstileToken: { type: string, minLength: 1, maxLength: 4096, writeOnly: true }
            examples:
              request:
                value:
                  email: member@example.com
                  turnstileToken: turnstile-token
      responses:
        '202':
          description: A reset message was issued if the account is eligible.
          content:
            application/json:
              schema:
                type: object
                required: [state]
                properties:
                  state: { type: string, enum: [reset_if_eligible] }
              examples:
                neutral:
                  value:
                    state: reset_if_eligible
        '400':
          description: Invalid request or Turnstile verification.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ValidationErrorResponse' }
        '429':
          description: Neutral authentication rate limit.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RateLimitError' }
  /auth/password/reset/complete:
    post:
      operationId: authPasswordResetComplete
      summary: Complete password reset and revoke existing sessions
      tags: [Auth]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [token, password]
              properties:
                token: { type: string, minLength: 32, writeOnly: true }
                password: { type: string, minLength: 12, maxLength: 128, writeOnly: true }
      responses:
        '200':
          description: Password reset completed and prior sessions revoked.
          content:
            application/json:
              schema:
                type: object
                required: [state]
                properties:
                  state: { type: string, enum: [password_reset_completed] }
        '400':
          description: Invalid or expired reset token or invalid password.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ValidationErrorResponse' }
  /auth/userinfo:
    get:
      operationId: authUserInfo
      summary: Get the authenticated user's current identity claims
      tags: [Auth]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Private current-user identity data.
          content:
            application/json:
              schema:
                type: object
                required: [id, sub, email, role, subscription_tier, reputation_level, reputation_policy_version, created_at, last_login_at]
                properties:
                  id: { type: string, format: uuid }
                  sub: { type: string, format: uuid }
                  email: { type: string, format: email }
                  role: { type: string, enum: [user, moderator, admin] }
                  subscription_tier: { type: string, enum: [free, premium, black] }
                  reputation_level: { type: integer, minimum: 0, maximum: 5 }
                  reputation_policy_version: { type: string }
                  created_at: { type: string, format: date-time }
                  last_login_at: { type: string, format: date-time }
              examples:
                authenticated:
                  value:
                    id: 018f2c4e-8c2b-7b4e-8d2a-2e2f0b7e4b1b
                    sub: 018f2c4e-8c2b-7b4e-8d2a-2e2f0b7e4b1b
                    email: member@example.com
                    role: user
                    subscription_tier: free
                    reputation_level: 0
                    reputation_policy_version: reputation-v2.0.0
                    created_at: '2026-08-01T09:00:00Z'
                    last_login_at: '2026-08-10T09:00:00Z'
        '401':
          description: Missing or invalid authentication.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/UnauthorizedError' }

  /storage/usage:
    get:
      operationId: storageUsageGet
      summary: Get the authenticated user's private storage ledger
      tags: [Privacy]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Private storage ledger totals.
          content:
            application/json:
              schema:
                type: object
                required: [storage]
                properties:
                  storage:
                    type: object
                    required: [bytes_reserved, bytes_uploaded, bytes_approved, bytes_rejected, bytes_exports, object_count]
                    properties:
                      bytes_reserved: { type: integer, minimum: 0 }
                      bytes_uploaded: { type: integer, minimum: 0 }
                      bytes_approved: { type: integer, minimum: 0 }
                      bytes_rejected: { type: integer, minimum: 0 }
                      bytes_exports: { type: integer, minimum: 0 }
                      object_count: { type: integer, minimum: 0 }
                      last_reconciled_at: { type: string, format: date-time, nullable: true }
        '401':
          description: Missing or invalid authentication.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/UnauthorizedError' }
  /users/me/region:
    put:
      operationId: usersMeRegionUpdate
      summary: Update private region and visibility preferences
      tags: [Users, Privacy]
      security:
        - bearerAuth: []
      parameters:
        - $ref: './product-integrity.yaml#/components/parameters/requiredIdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                countryCode: { type: string, nullable: true, pattern: '^[A-Za-z0-9-]{2,32}$' }
                regionCode: { type: string, nullable: true, pattern: '^[A-Za-z0-9-]{2,32}$' }
                municipalityCode: { type: string, nullable: true, pattern: '^[A-Za-z0-9-]{2,32}$' }
                visibilityLevel: { type: string, enum: [private, region, country], default: private }
      responses:
        '409':
          $ref: './product-integrity.yaml#/components/responses/IdempotencyConflict'
        '200':
          description: Region preferences updated.
          content:
            application/json:
              schema:
                type: object
                required: [updated]
                properties:
                  updated: { type: boolean, enum: [true] }
        '400':
          description: Invalid region code or visibility level.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ValidationErrorResponse' }
        '401':
          description: Missing or invalid authentication.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/UnauthorizedError' }
  /users/me/retention:
    put:
      operationId: usersMeRetentionUpdate
      summary: Update a private content-retention rule
      tags: [Users, Privacy]
      security:
        - bearerAuth: []
      parameters:
        - $ref: './product-integrity.yaml#/components/parameters/requiredIdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [contentType, retentionDays]
              properties:
                contentType: { type: string, enum: [post, posts, media] }
                retentionDays: { type: integer, minimum: 30, maximum: 3650 }
      responses:
        '409':
          $ref: './product-integrity.yaml#/components/responses/IdempotencyConflict'
        '200':
          description: Retention preference updated.
          content:
            application/json:
              schema:
                type: object
                required: [contentType, retentionDays]
                properties:
                  contentType: { type: string, enum: [post, media] }
                  retentionDays: { type: integer, minimum: 30, maximum: 3650 }
        '400':
          description: Invalid retention content type or period.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ValidationErrorResponse' }
        '401':
          description: Missing or invalid authentication.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/UnauthorizedError' }

  /custom-feeds:
    $ref: './product-integrity.yaml#/paths/~1custom-feeds'
  /custom-feeds/{id}:
    $ref: './product-integrity.yaml#/paths/~1custom-feeds~1{id}'
  /custom-feeds/{id}/items:
    $ref: './product-integrity.yaml#/paths/~1custom-feeds~1{id}~1items'
  /feed/discover:
    $ref: './product-integrity.yaml#/paths/~1feed~1discover'
  /feed/news:
    $ref: './product-integrity.yaml#/paths/~1feed~1news'
  /news-board:
    $ref: './product-integrity.yaml#/paths/~1news-board'
  /notifications:
    $ref: './product-integrity.yaml#/paths/~1notifications'
  /notifications/unread-count:
    $ref: './product-integrity.yaml#/paths/~1notifications~1unread-count'
  /notifications/{id}/read:
    $ref: './product-integrity.yaml#/paths/~1notifications~1{id}~1read'
  /notifications/{id}/dismiss:
    $ref: './product-integrity.yaml#/paths/~1notifications~1{id}~1dismiss'
  /notifications/preferences:
    $ref: './product-integrity.yaml#/paths/~1notifications~1preferences'
  /notifications/devices:
    $ref: './product-integrity.yaml#/paths/~1notifications~1devices'
  /notifications/devices/{id}/revoke:
    $ref: './product-integrity.yaml#/paths/~1notifications~1devices~1{id}~1revoke'
  /posts/{id}:
    get:
      operationId: postsGet
      summary: Get a post by ID
      tags:
        - Posts
      security:
        - {}
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - $ref: './product-integrity.yaml#/components/parameters/idempotencyKey'
      responses:
        '409':
          $ref: './product-integrity.yaml#/components/responses/IdempotencyConflict'
        '200':
          description: Post view.
          content:
            application/json:
              schema:
                type: object
                required: [post]
                properties:
                  post:
                    $ref: './product-integrity.yaml#/components/schemas/PersonalFeedItem'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    patch:
      operationId: postsUpdate
      summary: Update a post with moderation and AI authenticity checks
      description: >
        Update a post owned by the caller. A body change requires a fresh
        declaredCreationMode; a visibility-only change preserves the stored
        declaration. Every accepted update returns the post to review.
      tags:
        - Posts
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePostRequest'
            examples:
              bodyRevision:
                value:
                  body: Corrected local reporting from the community meeting.
                  declaredCreationMode: human
              visibilityOnly:
                value:
                  visibility: followers
      responses:
        '200':
          description: Updated post.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostRevisionResponse'
              examples:
                contentRevision:
                  value:
                    post:
                      id: 018f2c4e-8c2b-7b4e-8d2a-2e2f0b7e4b1a
                      body: Corrected local reporting from the community meeting.
                      declaredCreationMode: human
                      visibility: public
                      moderationState: under_review
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      operationId: postsReplace
      summary: Replace editable post fields and return the post to review
      tags: [Posts]
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
        - $ref: './product-integrity.yaml#/components/parameters/requiredIdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdatePostRequest' }
      responses:
        '409':
          $ref: './product-integrity.yaml#/components/responses/IdempotencyConflict'
        '200':
          description: Updated post returned to moderation review.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostRevisionResponse'
        '400':
          description: Invalid request or deterministic declaration-policy rejection.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ValidationErrorResponse' }
        '401':
          description: Missing or invalid authentication.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/UnauthorizedError' }
    delete:
      operationId: postsDelete
      summary: Soft-delete a post owned by the authenticated user
      tags: [Posts]
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
        - $ref: './product-integrity.yaml#/components/parameters/requiredIdempotencyKey'
      responses:
        '409':
          $ref: './product-integrity.yaml#/components/responses/IdempotencyConflict'
        '200':
          description: Idempotent soft-delete result.
          content:
            application/json:
              schema:
                type: object
                required: [postId, deleted]
                properties:
                  postId: { type: string, format: uuid }
                  deleted: { type: boolean }
        '401':
          description: Missing or invalid authentication.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/UnauthorizedError' }

  /posts/{postId}/comments:
    $ref: './product-integrity.yaml#/paths/~1posts~1{postId}~1comments'
  /comments/{commentId}:
    $ref: './product-integrity.yaml#/paths/~1comments~1{commentId}'
  /ready:
    get:
      operationId: ready
      summary: Readiness probe
      tags:
        - Health
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /subscription/status:
    get:
      operationId: subscriptionStatus
      summary: Get current user subscription status
      description: >
        Return the authenticated user's subscription tier and alpha entitlements,
        including custom feed count, News Board access, posting restriction, and
        reputation reward limits.
      tags:
        - Subscription
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Current subscription details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionStatus'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /users/me:
    $ref: './product-integrity.yaml#/paths/~1users~1me'
  /users/{id}:
    get:
      operationId: usersGet
      summary: Get a public user profile
      tags:
        - Users
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /follows:
    $ref: './product-integrity.yaml#/paths/~1follows'
  /follows/{followedId}:
    $ref: './product-integrity.yaml#/paths/~1follows~1{followedId}'
  /users/follow:
    $ref: './product-integrity.yaml#/paths/~1users~1follow'
  /users/{id}/follow:
    $ref: './product-integrity.yaml#/paths/~1users~1{id}~1follow'
  /blocks:
    $ref: './product-integrity.yaml#/paths/~1blocks'
  /users/block:
    $ref: './product-integrity.yaml#/paths/~1users~1block'
  /blocks/{id}:
    $ref: './product-integrity.yaml#/paths/~1blocks~1{id}'
  /mutes:
    $ref: './product-integrity.yaml#/paths/~1mutes'
  /users/mute:
    $ref: './product-integrity.yaml#/paths/~1users~1mute'
  /mutes/{id}:
    $ref: './product-integrity.yaml#/paths/~1mutes~1{id}'
  /bookmarks:
    $ref: './product-integrity.yaml#/paths/~1bookmarks'
  /bookmarks/{postId}:
    $ref: './product-integrity.yaml#/paths/~1bookmarks~1{postId}'
  /reputation/me:
    $ref: './product-integrity.yaml#/paths/~1reputation~1me'
  /reputation/me/ledger:
    $ref: './product-integrity.yaml#/paths/~1reputation~1me~1ledger'
  /activity:
    $ref: './product-integrity.yaml#/paths/~1activity'
  /users/me/activity:
    $ref: './product-integrity.yaml#/paths/~1users~1me~1activity'
  /reputation/users/{id}:
    $ref: './product-integrity.yaml#/paths/~1reputation~1users~1{id}'
  /reputation/user/{id}:
    $ref: './product-integrity.yaml#/paths/~1reputation~1user~1{id}'
  /posts/{postId}/reactions:
    $ref: './product-integrity.yaml#/paths/~1posts~1{postId}~1reactions'
  /rewards/me:
    get:
      operationId: rewardsMeGet
      summary: Get my rewards snapshot
      description: Returns rewards available under the caller's subscription tier, reputation level, redemption limits, and fraud/maturity checks.
      tags: [Rewards]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Rewards snapshot
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RewardsMeResponse'
        '401':
          description: Missing or invalid authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
  /rewards/{id}/redeem:
    post:
      operationId: rewardsRedeemPost
      summary: Redeem a reward
      tags: [Rewards]
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - $ref: './product-integrity.yaml#/components/parameters/idempotencyKey'
      responses:
        '409':
          $ref: './product-integrity.yaml#/components/responses/IdempotencyConflict'
        '201':
          description: Reward redeemed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RewardRedemption'
        '401':
          description: Missing or invalid authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '403':
          description: Reward locked or redemption restricted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Reward not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /admin/health:
    $ref: './product-integrity.yaml#/paths/~1admin~1health'
  /admin/privacy/requests:
    $ref: './product-integrity.yaml#/paths/~1admin~1privacy~1requests'
  /admin/moderation/cases:
    $ref: './product-integrity.yaml#/paths/~1admin~1moderation~1cases'
  /admin/audit:
    $ref: './product-integrity.yaml#/paths/~1admin~1audit'
  /admin/waitlist:
    $ref: './product-integrity.yaml#/paths/~1admin~1waitlist'
  /admin/waitlist/{waitlistId}:
    $ref: './product-integrity.yaml#/paths/~1admin~1waitlist~1{waitlistId}'
  /admin/waitlist/{waitlistId}/status:
    $ref: './product-integrity.yaml#/paths/~1admin~1waitlist~1{waitlistId}~1status'
  /admin/waitlist/{waitlistId}/retention-hold:
    $ref: './product-integrity.yaml#/paths/~1admin~1waitlist~1{waitlistId}~1retention-hold'
  /admin/users/search:
    $ref: './product-integrity.yaml#/paths/~1admin~1users~1search'
  /admin/auth/summary:
    $ref: './product-integrity.yaml#/paths/~1admin~1auth~1summary'
  /admin/email-health:
    $ref: './product-integrity.yaml#/paths/~1admin~1email-health'
  /admin/users:
    $ref: './product-integrity.yaml#/paths/~1admin~1users'
  /admin/users/{userId}:
    $ref: './product-integrity.yaml#/paths/~1admin~1users~1{userId}'
  /admin/users/{userId}/resend-verification:
    $ref: './product-integrity.yaml#/paths/~1admin~1users~1{userId}~1resend-verification'
  /admin/users/{userId}/revoke-sessions:
    $ref: './product-integrity.yaml#/paths/~1admin~1users~1{userId}~1revoke-sessions'
  /admin/privacy/legal-holds:
    $ref: './product-integrity.yaml#/paths/~1admin~1privacy~1legal-holds'
  /admin/privacy/legal-holds/{holdId}/clear:
    $ref: './product-integrity.yaml#/paths/~1admin~1privacy~1legal-holds~1{holdId}~1clear'
  /admin/editorial/publications:
    $ref: './product-integrity.yaml#/paths/~1admin~1editorial~1publications'
  /admin/moderation/cases/{caseId}/decision:
    $ref: './product-integrity.yaml#/paths/~1admin~1moderation~1cases~1{caseId}~1decision'
  /admin/appeals/{appealId}/adjudications:
    $ref: './product-integrity.yaml#/paths/~1admin~1appeals~1{appealId}~1adjudications'
  /admin/appeals/pending-adjudication:
    $ref: './product-integrity.yaml#/paths/~1admin~1appeals~1pending-adjudication'
  /admin/reviewers/{reviewerId}/qualification:
    $ref: './product-integrity.yaml#/paths/~1admin~1reviewers~1{reviewerId}~1qualification'
  /admin/users/{userId}/status:
    $ref: './product-integrity.yaml#/paths/~1admin~1users~1{userId}~1status'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    cloudflareAccess:
      type: apiKey
      in: header
      name: CF-Access-Jwt-Assertion
      description: Cloudflare Access JWT assertion required by the admin Worker.
  schemas:
    WaitlistSubmission:
      type: object
      additionalProperties: false
      required: [email, turnstileToken, consentVersion]
      properties:
        email:
          type: string
          format: email
          maxLength: 320
        turnstileToken:
          type: string
          minLength: 10
          maxLength: 4096
          writeOnly: true
        consentVersion:
          type: string
          enum: [waitlist-v1]
    WaitlistSuccess:
      type: object
      additionalProperties: false
      required: [ok, status]
      properties:
        ok: { type: boolean, enum: [true] }
        status: { type: string, enum: [waitlisted] }
    WaitlistError:
      type: object
      additionalProperties: false
      required: [error, correlationId]
      properties:
        error:
          type: string
          enum: [invalid_email, invalid_json, invalid_consent_version, request_too_large, turnstile_required, turnstile_failed, turnstile_unavailable, rate_limit_exceeded, unsupported_content_type, waitlist_unavailable, request_failed]
        correlationId: { type: string }
    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: string
          description: Machine readable error code
        message:
          type: string
          description: Human readable error description
    SimpleError:
      type: object
      required:
        - error
      properties:
        error:
          type: string
          description: Machine-readable or plain-language error identifier.
    RateLimitError:
      type: object
      required:
        - error
        - scope
        - limit
        - window_seconds
        - retry_after_seconds
        - trace_id
      properties:
        error:
          type: string
          description: Constant identifier for rate limit breaches
          enum:
            - rate_limited
        scope:
          type: string
          description: Scope of the limit that triggered the breach
          enum:
            - ip
            - user
            - route
            - auth_backoff
        limit:
          type: integer
          minimum: 0
          description: Maximum requests permitted within the window
        window_seconds:
          type: integer
          minimum: 1
          description: Window size for the limit in seconds
        retry_after_seconds:
          type: integer
          minimum: 0
          description: Seconds until the limit resets
        trace_id:
          type: string
          description: Correlation identifier for tracing
        reason:
          type: string
          description: Additional context for specialized scopes (e.g. auth backoff)
          enum:
            - auth_backoff
    SubscriptionStatus:
      type: object
      required:
        - userId
        - tier
        - status
        - provider
        - currentPeriodEnd
        - cancelAtPeriodEnd
        - accessLabel
        - manualGrantExpiresAt
        - manualGrantReviewAt
        - entitlements
      properties:
        userId:
          type: string
        tier:
          type: string
          enum:
            - free
            - premium
            - black
        status:
          type: string
          enum:
            - active
            - cancelled
            - past_due
            - expired
            - trialing
        provider:
          type: string
          nullable: true
          enum:
            - apple
            - google
            - stripe
            - manual
        currentPeriodEnd:
          type: string
          nullable: true
          format: date-time
        cancelAtPeriodEnd:
          type: boolean
        accessLabel:
          type: string
          enum:
            - Alpha access
          description: Manual Alpha entitlement label; no active payment system is implied.
        manualGrantExpiresAt:
          type: string
          nullable: true
          format: date-time
        manualGrantReviewAt:
          type: string
          nullable: true
          format: date-time
        entitlements:
          type: object
          required:
            - dailyPosts
            - dailyComments
            - dailyReactions
            - dailyAppeals
            - exportCooldownDays
            - maxMediaSizeMB
            - maxMediaPerPost
            - maxCustomFeeds
            - newsBoardAccessLevel
            - newsBoardPreview
            - postingRestricted
            - rewardLevelCap
            - rewardOptionsPerLevel
            - rewardChoiceBreadth
          properties:
            dailyPosts:
              type: integer
            dailyComments:
              type: integer
            dailyReactions:
              type: integer
            dailyAppeals:
              type: integer
            exportCooldownDays:
              type: integer
            maxMediaSizeMB:
              type: integer
            maxMediaPerPost:
              type: integer
            maxCustomFeeds:
              type: integer
              description: Maximum custom feeds available to this tier.
            newsBoardAccessLevel:
              type: string
              enum: [preview, full]
              description: Free receives preview; Premium and Black receive full access.
            newsBoardPreview:
              type: boolean
              description: Whether the tier can read the safe News Board preview.
            postingRestricted:
              type: boolean
              description: Whether normal posting is product-limited beyond abuse controls.
            rewardLevelCap:
              type: integer
              description: Highest reputation reward level available to this tier.
            rewardOptionsPerLevel:
              type: integer
              nullable: true
              description: Reward options per reputation level; null means all eligible rewards.
            rewardChoiceBreadth:
              type: string
              enum: [limited, increased, full]
    NewsSourceMetadata:
      type: object
      required:
        - type
        - name
        - publishedAt
        - ingestedAt
        - ingestedBy
        - ingestMethod
      properties:
        type:
          type: string
          enum:
            - journalist
            - curated
            - partner
            - wire
        name:
          type: string
        url:
          type: string
          format: uri
        feedUrl:
          type: string
          format: uri
        externalId:
          type: string
        publishedAt:
          type: string
          format: date-time
        ingestedAt:
          type: string
          format: date-time
        ingestedBy:
          type: string
        ingestMethod:
          type: string
          enum:
            - admin_api
            - timer
    PublicAuthorship:
      type: object
      additionalProperties: false
      required:
        - authorshipLabel
        - declaredAuthorship
        - classificationSource
        - classificationState
        - reviewState
        - appealState
        - labelVersion
      properties:
        authorshipLabel:
          type: string
          enum: [Human-authored, AI-assisted, Under review]
        declaredAuthorship:
          type: string
          enum: [human, assisted]
        classificationSource:
          type: string
          enum: [user_disclosure, automated_classification, human_review, appeal_outcome]
        classificationState:
          type: string
          enum: [confirmed, conflict, unavailable]
        reviewState:
          type: string
          enum: [not_required, pending, in_review, resolved]
        appealState:
          type: string
          enum: [none, eligible, pending, resolved]
        labelVersion:
          type: string
        classifiedAt:
          type: string
          format: date-time
        reviewedAt:
          type: string
          format: date-time
    CreatePostRequest:
      type: object
      additionalProperties: false
      required:
        - body
        - declaredCreationMode
        - geoScope
      properties:
        body:
          type: string
          minLength: 1
          maxLength: 100000
        declaredCreationMode:
          type: string
          description: Required user authorship disclosure. Public responses use categorical labels only.
          enum:
            - human
            - ai_assisted
        geoScope:
          type: string
          enum:
            - global
            - country
            - province
            - municipality
            - community
            - none
        placeId:
          type: string
          format: uuid
      oneOf:
        - title: Scoped post
          properties:
            geoScope:
              type: string
              enum: [country, province, municipality, community]
          required: [placeId]
        - title: Unscoped post
          properties:
            geoScope:
              type: string
              enum: [global, none]
          not:
            properties:
              placeId:
                type: string
            required: [placeId]
    UpdatePostRequest:
      type: object
      additionalProperties: false
      properties:
        body:
          type: string
          minLength: 1
          maxLength: 100000
        declaredCreationMode:
          type: string
          description: Required with body changes. AI-generated public content is rejected.
          enum: [human, ai_assisted]
        visibility:
          type: string
          enum: [public, followers, private]
      oneOf:
        - title: Body revision
          required: [body, declaredCreationMode]
        - title: Declaration-only revision
          properties:
            declaredCreationMode:
              type: string
            body:
              type: string
          required: [declaredCreationMode]
          not:
            properties:
              body:
                type: string
            required: [body]
        - title: Visibility-only revision
          properties:
            visibility:
              type: string
            body:
              type: string
            declaredCreationMode:
              type: string
          required: [visibility]
          not:
            anyOf:
              - properties:
                  body:
                    type: string
                required: [body]
              - properties:
                  declaredCreationMode:
                    type: string
                required: [declaredCreationMode]
    PostRevision:
      type: object
      additionalProperties: false
      required: [id, body, declaredCreationMode, visibility, moderationState]
      properties:
        id:
          type: string
          format: uuid
        body:
          type: string
        declaredCreationMode:
          type: string
          enum: [human, ai_assisted]
        visibility:
          type: string
          enum: [public, followers, private]
        moderationState:
          type: string
          enum: [under_review]
    PostRevisionResponse:
      type: object
      additionalProperties: false
      required: [post]
      properties:
        post:
          $ref: '#/components/schemas/PostRevision'
    Post:
      type: object
      required:
        - id
        - authorId
        - content
        - contentType
        - visibility
        - isNews
        - authorship
        - createdAt
        - updatedAt
      properties:
        id:
          type: string
        authorId:
          type: string
        content:
          type: string
        contentType:
          type: string
          enum:
            - text
            - image
            - video
            - mixed
        mediaUrls:
          type: array
          items:
            type: string
            format: uri
        topics:
          type: array
          items:
            type: string
        visibility:
          type: string
          enum:
            - public
            - followers
            - private
        isNews:
          type: boolean
        source:
          $ref: '#/components/schemas/NewsSourceMetadata'
        clusterId:
          type: string
        authorship:
          $ref: '#/components/schemas/PublicAuthorship'
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    RewardOffer:
      type: object
      required:
        - id
        - rewardLevel
        - title
        - description
        - partnerName
        - locked
        - redeemed
      properties:
        id:
          type: string
        rewardLevel:
          type: integer
          minimum: 1
          maximum: 5
        title:
          type: string
        description:
          type: string
        partnerName:
          type: string
        locked:
          type: boolean
        lockReason:
          type: string
        redeemed:
          type: boolean
    RewardRedemption:
      type: object
      required:
        - id
        - userId
        - rewardId
        - rewardLevel
        - rewardTitle
        - redeemedAt
        - status
      properties:
        id:
          type: string
        userId:
          type: string
        rewardId:
          type: string
        rewardLevel:
          type: integer
        rewardTitle:
          type: string
        redeemedAt:
          type: string
          format: date-time
        status:
          type: string
          enum: [redeemed]
    RewardsMeResponse:
      type: object
      required:
        - subscriptionTier
        - reputationLevel
        - reputationBand
        - availableRewardLevels
        - maxOptionsPerLevel
        - redemptionStatus
        - fraudRiskStatus
        - offers
        - redemptionHistory
        - affiliateDisclosure
      properties:
        subscriptionTier:
          type: string
          enum: [free, premium, black]
        reputationLevel:
          type: integer
          minimum: 0
          maximum: 5
        reputationBand:
          type: string
        availableRewardLevels:
          type: array
          items:
            type: integer
            minimum: 1
            maximum: 5
        maxOptionsPerLevel:
          type: integer
        redemptionStatus:
          type: string
          enum: [active, restricted]
        fraudRiskStatus:
          type: string
        offers:
          type: array
          items:
            $ref: '#/components/schemas/RewardOffer'
        redemptionHistory:
          type: array
          items:
            $ref: '#/components/schemas/RewardRedemption'
        affiliateDisclosure:
          type: string
    ErrorResponse:
      description: Canonical error envelope returned by handler-based endpoints.
      type: object
      required:
        - error
      properties:
        error:
          type: object
          required:
            - code
            - message
          properties:
            code:
              type: string
              description: Machine-readable error code
              example: INVALID_REQUEST
            message:
              type: string
              description: Human-readable description
              example: The request body is missing required field "text"
            correlationId:
              type: string
              description: Correlation ID for distributed tracing
              example: 01HZPQ2B3C4D5E6F7G8H9JABCD
            details:
              type: object
              additionalProperties: true
              description: Optional structured details (e.g. field-level validation errors)
    ValidationErrorResponse:
      description: 400 response with structured field-level validation failures.
      type: object
      required:
        - error
      properties:
        error:
          type: object
          required:
            - code
            - message
          properties:
            code:
              type: string
              example: VALIDATION_FAILED
            message:
              type: string
              example: Request validation failed
            correlationId:
              type: string
            fields:
              type: array
              description: Per-field validation errors
              items:
                type: object
                required:
                  - field
                  - message
                properties:
                  field:
                    type: string
                    example: text
                  message:
                    type: string
                    example: Field is required
                  constraint:
                    type: string
                    example: minLength
    UnauthorizedError:
      description: 401 – missing or invalid bearer token.
      oneOf:
        - $ref: '#/components/schemas/SimpleError'
        - $ref: '#/components/schemas/ErrorResponse'
    ForbiddenError:
      description: 403 – authenticated caller lacks required role or permission.
      type: object
      required:
        - error
      properties:
        error:
          type: object
          required:
            - code
            - message
          properties:
            code:
              type: string
              enum:
                - FORBIDDEN
                - INSUFFICIENT_ROLE
                - ACCOUNT_DISABLED
              example: FORBIDDEN
            message:
              type: string
              example: You do not have permission to perform this action
            correlationId:
              type: string
    PrivacyRequestCreate:
      description: An asynchronous privacy request submitted by the authenticated subject.
      type: object
      required:
        - requestType
      properties:
        requestType:
          type: string
          enum: [export, delete, rectify]
    PrivacyRequest:
      description: Current state of an asynchronous privacy request.
      type: object
      required: [requestId, requestType, state, acceptedAt]
      properties:
        requestId:
          type: string
          format: uuid
        requestType:
          type: string
          enum: [export, delete, rectify]
        state:
          type: string
          enum: [received, processing, blocked, completed, failed]
        acceptedAt:
          type: string
          format: date-time
        completedAt:
          type: string
          format: date-time
          nullable: true
    PrivacyRequestAccepted:
      allOf:
        - $ref: '#/components/schemas/PrivacyRequest'
    PrivacyRequestStatusResponse:
      type: object
      required: [request]
      properties:
        request:
          type: object
          allOf:
            - $ref: '#/components/schemas/PrivacyRequest'
          nullable: true
    EmailSessionResponse:
      description: Direct email authentication or refresh-token rotation response.
      type: object
      additionalProperties: false
      required:
        - accessToken
        - refreshToken
        - tokenType
        - expiresIn
      properties:
        accessToken:
          type: string
          description: Short-lived JWT bearer token (15 minutes).
        refreshToken:
          type: string
          description: Rotating opaque refresh token.
        tokenType:
          type: string
          enum: [Bearer]
        expiresIn:
          type: integer
          minimum: 1
          description: Access-token lifetime in seconds.
    EmailVerificationRequiredResponse:
      type: object
      additionalProperties: false
      required: [state]
      properties:
        state:
          type: string
          enum: [verification_required]
        userId:
          type: string
          format: uuid
    EmailAuthRequest:
      description: Email registration, login, or verification-resend request.
      type: object
      additionalProperties: false
      required:
        - mode
        - email
      properties:
        mode:
          type: string
          enum: [login, register, resend_verification]
        email:
          type: string
          format: email
          maxLength: 254
        password:
          type: string
          minLength: 12
          maxLength: 128
          writeOnly: true
        turnstileToken:
          type: string
          minLength: 10
          writeOnly: true
      oneOf:
        - title: Login
          properties:
            mode: { type: string, enum: [login] }
          required: [password]
        - title: Registration
          properties:
            mode: { type: string, enum: [register] }
          required: [password, turnstileToken]
        - title: Verification resend
          properties:
            mode: { type: string, enum: [resend_verification] }
    RefreshSessionRequest:
      oneOf:
        - $ref: '#/components/schemas/RefreshTokenRequest'
        - $ref: '#/components/schemas/LegacyRefreshTokenRequest'
    RefreshTokenRequest:
      type: object
      additionalProperties: false
      required: [refreshToken]
      properties:
        refreshToken:
          type: string
          minLength: 1
          writeOnly: true
    LegacyRefreshTokenRequest:
      type: object
      additionalProperties: false
      deprecated: true
      required: [refresh_token]
      properties:
        refresh_token:
          type: string
          minLength: 1
          writeOnly: true
    ServiceUnavailableError:
      description: 503 – service temporarily unavailable (dependency outage, maintenance window, or upstream timeout).
      type: object
      required:
        - error
      properties:
        error:
          type: object
          required:
            - code
            - message
          properties:
            code:
              type: string
              enum:
                - SERVICE_UNAVAILABLE
                - DEPENDENCY_UNAVAILABLE
                - MAINTENANCE
              example: SERVICE_UNAVAILABLE
            message:
              type: string
              example: Service temporarily unavailable. Please retry after the indicated delay.
            retryAfterSeconds:
              type: integer
              description: Suggested number of seconds to wait before retrying
              example: 30
            correlationId:
              type: string
    BadGatewayError:
      description: 502 – bad gateway (upstream service returned an invalid or unexpected response).
      type: object
      required:
        - error
      properties:
        error:
          type: object
          required:
            - code
            - message
          properties:
            code:
              type: string
              enum:
                - BAD_GATEWAY
                - UPSTREAM_ERROR
              example: BAD_GATEWAY
            message:
              type: string
              example: An upstream service returned an unexpected response. Please try again.
            correlationId:
              type: string
  headers:
    XCorrelationID:
      description: Server-generated correlation identifier for distributed tracing. Include in support requests.
      schema:
        type: string
        example: 01HZPQ2B3C4D5E6F7G8H9JABCD
